.w1200, .content .wrap {
  width: 1200px;
  margin: 0 auto; }

.side {
  position: fixed;
  right: 0;
  top: 0;
  width: 30px;
  background: #202020;
  height: 100%; }
  .side a {
    display: block;
    padding: 13px 5px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #919191;
    color: #fff; }
  .side a:first-child {
    margin-top: 99px; }
  .side a:hover {
    background-color: red; }
  .side a:last-child {
    position: absolute;
    bottom: 20px;
    border-bottom: none;
    border-top: 1px solid #919191; }

.content .wrap {
  background-color: #fff;
  padding-left: 25px;
  min-height: 1100px; }
  .content .wrap .address {
    margin-top: 30px; }
    .content .wrap .address h3 {
      height: 46px;
      line-height: 46px; }
    .content .wrap .address > p {
      height: 44px;
      line-height: 44px; }
      .content .wrap .address > p a {
        padding-left: 12px;
        padding-right: 24px;
        color: #666;
        background: url(/img/details/icon4.jpg) no-repeat left center; }
      .content .wrap .address > p a:hover {
        text-decoration: underline; }
    .content .wrap .address .s {
      margin-top: 30px; }
      .content .wrap .address .s span {
        color: red; }
      .content .wrap .address .s select {
        vertical-align: middle;
        margin-right: 15px; }
    .content .wrap .address .yzbm, .content .wrap .address .ren, .content .wrap .address .tel {
      margin-top: 16px; }
      .content .wrap .address .yzbm span, .content .wrap .address .ren span, .content .wrap .address .tel span {
        color: red; }
      .content .wrap .address .yzbm input, .content .wrap .address .ren input, .content .wrap .address .tel input {
        width: 136px;
        height: 24px;
        border-radius: 4px;
        border: 1px solid #999;
        margin-left: 6px;
        outline: none;
        padding-left: 10px; }
    .content .wrap .address .jddz {
      margin-top: 16px; }
      .content .wrap .address .jddz span {
        color: red; }
      .content .wrap .address .jddz textarea {
        vertical-align: top;
        border-radius: 4px;
        margin-left: 6px;
        width: 940px;
        height: 60px; }
      .content .wrap .address .jddz p {
        padding-left: 100px;
        height: 51px;
        line-height: 51px;
        color: #666; }
    .content .wrap .address .ren {
      margin-top: 0px; }
    .content .wrap .address .cfm {
      margin: 0 auto;
      margin-top: 15px;
      overflow: hidden;
      width: 186px; }
      .content .wrap .address .cfm span {
        cursor: default; }
      .content .wrap .address .cfm span:first-child {
        width: 104px;
        height: 34px;
        background-color: #ffa701;
        display: block;
        float: left;
        text-align: center;
        line-height: 34px;
        color: #fff;
        margin-right: 10px; }
      .content .wrap .address .cfm span:last-child {
        width: 66px;
        height: 32px;
        border: 1px solid #666;
        text-align: center;
        line-height: 32px;
        color: #000;
        display: block;
        float: left; }
  .content .wrap .confirm {
    margin-top: 44px; }
    .content .wrap .confirm h3 {
      height: 46px;
      line-height: 46px; }
    .content .wrap .confirm .getall {
      height: 48px;
      border: 1px solid #e5e5e5;
      padding-left: 24px;
      line-height: 48px;
      background-color: #f6f6f6; }
      .content .wrap .confirm .getall p {
        float: left;
        text-align: center;
        width: 440px; }
      .content .wrap .confirm .getall div {
        float: right;
        margin-right: 30px; }
        .content .wrap .confirm .getall div span:nth-of-type(1) {
          margin-right: 130px; }
        .content .wrap .confirm .getall div span:nth-of-type(2) {
          margin-right: 100px; }
        .content .wrap .confirm .getall div span:nth-of-type(3) {
          margin-right: 90px; }
        .content .wrap .confirm .getall div span:nth-of-type(4) {
          margin-right: 55px; }
    .content .wrap .confirm .good1 {
      height: 95px;
      padding-left: 24px;
      padding-top: 15px;
      border: 1px solid #e5e5e5;
      margin-top: 25px;
      background: #f4f4f4; }
      .content .wrap .confirm .good1 .center {
        float: left;
        margin-left: 30px;
        width: 490px; }
        .content .wrap .confirm .good1 .center img {
          width: 79px;
          height: 79px;
          border: 1px solid #ccc; }
        .content .wrap .confirm .good1 .center p {
          float: right;
          width: 390px;
          padding-right: 10px; }
          .content .wrap .confirm .good1 .center p a {
            color: #666; }
          .content .wrap .confirm .good1 .center p a:hover {
            text-decoration: underline; }
      .content .wrap .confirm .good1 .right {
        float: right;
        margin-right: 30px; }
        .content .wrap .confirm .good1 .right > span {
          float: left;
          width: 100px; }
          .content .wrap .confirm .good1 .right > span .now {
            font-weight: bold !important; }
        .content .wrap .confirm .good1 .right span:nth-of-type(1) {
          margin-right: 82px; }
          .content .wrap .confirm .good1 .right span:nth-of-type(1) b {
            font-weight: normal; }
        .content .wrap .confirm .good1 .right span:nth-of-type(2) {
          margin-right: 27px;
          line-height: 20px; }
          .content .wrap .confirm .good1 .right span:nth-of-type(2) b {
            font-weight: normal; }
        .content .wrap .confirm .good1 .right span:nth-of-type(3) {
          text-align: center;
          width: 94px;
          height: 25px;
          margin-right: 58px; }
        .content .wrap .confirm .good1 .right span:nth-of-type(4) {
          margin-right: 16px;
          width: 98px;
          color: red; }
    .content .wrap .confirm .total {
      height: 56px;
      border: 1px solid #f4f4f4;
      line-height: 56px;
      text-align: right;
      background: #f8f8f8;
      margin-top: 25px;
      padding-right: 100px; }
      .content .wrap .confirm .total span {
        color: red; }
    .content .wrap .confirm .compute {
      overflow: hidden;
      height: 50px;
      line-height: 50px;
      padding-left: 24px;
      border: 1px solid #e5e5e5;
      margin-top: 20px; }
      .content .wrap .confirm .compute .le {
        float: left; }
        .content .wrap .confirm .compute .le a {
          margin-right: 15px;
          color: #666;
          padding-left: 17px;
          background: url(/img/details/icon5.jpg) no-repeat left center; }
      .content .wrap .confirm .compute p {
        float: right; }
        .content .wrap .confirm .compute p a {
          color: #fff;
          display: inline-block;
          width: 150px;
          height: 50px;
          background-color: #d8d8d8;
          font-size: 20px;
          text-align: center;
          float: right;
          margin-left: 13px;
          background-color: #ffa701; }
        .content .wrap .confirm .compute p .rmb, .content .wrap .confirm .compute p b {
          color: red;
          font-size: 20px;
          vertical-align: middle; }
        .content .wrap .confirm .compute p span {
          color: red; }
