.w1200, .search .wrap, .logo .wrap, .bigTitle .wrap, .detail .wrap, .tab .wrap {
  width: 1200px;
  margin: 0 auto; }

.search {
  height: 90px;
  border-bottom: 2px solid #ff4466; }
  .search .wrap {
    height: 90px; }
    .search .wrap > a {
      float: left;
      width: 240px;
      height: 90px;
      text-indent: -9999px;
      background: url(../img/logo.png) no-repeat; }
    .search .wrap .center {
      width: 482px;
      margin-left: 120px;
      margin-top: 20px; }
      .search .wrap .center .top {
        border: 1px solid #ff0077;
        height: 34px;
        border-radius: 0 8px 8px 0; }
        .search .wrap .center .top .top-l {
          color: #ff0077;
          line-height: 34px;
          text-align: center;
          width: 60px;
          height: 34px; }
          .search .wrap .center .top .top-l ul {
            display: none;
            width: 60px;
            border: 1px solid #e5e5e5;
            border-top: 1px solid #ff0077;
            line-height: 30px;
            padding-top: 1px;
            position: absolute;
            background: #fff;
            margin-left: -1px; }
            .search .wrap .center .top .top-l ul a {
              color: #ff0077; }
            .search .wrap .center .top .top-l ul li.active {
              background: #ffeef4; }
          .search .wrap .center .top .top-l span {
            display: block;
            width: 100%;
            height: 34px;
            cursor: pointer;
            background: url(../img/iconimg/icon6.jpg) no-repeat right 15px; }
        .search .wrap .center .top form {
          position: relative; }
          .search .wrap .center .top form .txt {
            height: 34px;
            line-height: 34px;
            border: none;
            outline: none;
            color: #999;
            padding-left: 9px;
            font-size: 10px;
            width: 310px; }
          .search .wrap .center .top form .btn {
            border: none;
            outline: none;
            background: #ff1580;
            width: 100px;
            height: 34px;
            border-radius: 0 8px 8px 0;
            background-image: linear-gradient(to right, #f25, #ff1581);
            font-size: 15px;
            /*letter-spacing: 10px;*/
            color: white;
            text-align: center; }
          .search .wrap .center .top form .history {
            position: absolute;
            width: 320px;
            height: 286px;
            border: 1px solid #ff0077;
            margin-left: -2px;
            margin-top: 34px;
            background: #fff;
            display: none;
            z-index: 50; }
            .search .wrap .center .top form .history h3 {
              line-height: 16px;
              height: 16px;
              padding: 10px;
              font-weight: normal;
              color: #b5b5b5;
              font-size: 12px; }
      .search .wrap .center .bottom {
        line-height: 30px; }
        .search .wrap .center .bottom a {
          color: #666;
          margin-right: 12px; }
        .search .wrap .center .bottom a.hot {
          color: #ff0077; }
        .search .wrap .center .bottom a:hover {
          color: #ff0077;
          text-decoration: underline; }
    .search .wrap img {
      width: 220px;
      height: 90px; }

.side {
  position: fixed;
  right: 0;
  top: 0;
  width: 30px;
  background: #202020;
  height: 100%; }
  .side a {
    display: block;
    padding: 13px 5px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #919191;
    color: #fff; }
  .side a:first-child {
    margin-top: 99px; }
  .side a:hover {
    background-color: red; }
  .side a:last-child {
    position: absolute;
    bottom: 20px;
    border-bottom: none;
    border-top: 1px solid #919191; }

.logo {
  height: 150px; }
  .logo .wrap a {
    float: left;
    width: 254px;
    height: 150px;
    background: url(/img/details/logo.jpg) no-repeat left center; }

.bigTitle {
  height: 30px;
  background: #404040; }
  .bigTitle .wrap {
    position: relative; }
    .bigTitle .wrap a {
      display: block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #eee;
      float: left;
      padding: 0 20px; }
    .bigTitle .wrap .all img {
      vertical-align: middle;
      margin: -2px 0 0 2px; }
    .bigTitle .wrap span {
      display: block;
      float: left;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #5c5c5c; }
    .bigTitle .wrap ul {
      position: absolute;
      display: none;
      top: 30px;
      left: 64px;
      width: 150px;
      background: rgba(0, 0, 0, 0.8);
      z-index: 10; }
      .bigTitle .wrap ul li {
        height: 32px;
        line-height: 32px;
        cursor: pointer;
        transition: 0.3s; }
        .bigTitle .wrap ul li a {
          color: #fff;
          padding-left: 14px; }
      .bigTitle .wrap ul li:hover {
        background: #666; }

.detail {
  height: 700px; }
  .detail .wrap {
    margin-top: 50px; }
    .detail .wrap .right {
      width: 400px;
      float: left;
      margin-right: 20px;
      position: relative; }
      .detail .wrap .right .bigpic {
        position: absolute;
        left: 404px;
        top: 0;
        width: 400px;
        height: 600px;
        overflow: hidden;
        display: none; }
        .detail .wrap .right .bigpic img {
          position: absolute;
          left: 0;
          top: 0;
          width: 500px;
          height: 800px;
          border: none; }
      .detail .wrap .right .pic {
        width: 400px;
        height: 600px;
        margin-bottom: 10px;
        position: relative; }
        .detail .wrap .right .pic img {
          width: 400px;
          height: 600px; }
        .detail .wrap .right .pic .mask {
          display: none;
          position: absolute;
          width: 300px;
          height: 300px;
          background-color: rgba(0, 0, 0, 0.7);
          left: 0;
          top: 0; }
      .detail .wrap .right .list ul {
        padding-left: 30px; }
        .detail .wrap .right .list ul li {
          float: left;
          margin-right: 10px;
          width: 60px;
          height: 60px;
          opacity: 0.7;
          overflow: hidden; }
          .detail .wrap .right .list ul li img {
            width: 60px;
            height: 60px; }
        .detail .wrap .right .list ul li:hover {
          opacity: 1;
          border-bottom: 2px solid #ff4466;
          height: 58px; }
        .detail .wrap .right .list ul li.active {
          opacity: 1;
          border-bottom: 2px solid #ff4466;
          height: 58px; }
    .detail .wrap .rgt {
      float: left;
      width: 545px; }
      .detail .wrap .rgt .title {
        font-size: 27px;
        line-height: 29px;
        font-weight: bold; }
      .detail .wrap .rgt .price {
        background-color: #f6f6f6;
        border: 1px solid #f3f3f3;
        margin-top: 14px;
        padding-left: 10px; }
        .detail .wrap .rgt .price p {
          line-height: 32px;
          color: #999; }
          .detail .wrap .rgt .price p b {
            width: 60px;
            font-weight: normal;
            display: inline-block; }
        .detail .wrap .rgt .price .now span {
          font-size: 18px;
          color: red;
          font-weight: bold; }
      .detail .wrap .rgt .clr {
        margin-top: 20px;
        padding-left: 10px;
        color: #999; }
        .detail .wrap .rgt .clr img {
          vertical-align: top; }
      .detail .wrap .rgt .ruler {
        margin-top: 60px;
        padding-left: 10px;
        color: #999; }
        .detail .wrap .rgt .ruler a {
          display: inline-block;
          width: 29px;
          height: 29px;
          border: 1px solid #dfdfdf;
          text-align: center;
          line-height: 29px;
          margin-right: 10px;
          color: #333; }
        .detail .wrap .rgt .ruler a.active {
          border: 1px solid red; }
      .detail .wrap .rgt .count {
        margin-top: 60px;
        padding-left: 10px;
        color: #999; }
        .detail .wrap .rgt .count div {
          display: inline-block;
          border: 1px solid #dfdfdf;
          height: 25px;
          width: 95px; }
          .detail .wrap .rgt .count div a {
            display: inline-block;
            width: 24px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            color: #666; }
          .detail .wrap .rgt .count div input {
            width: 44px;
            height: 25px;
            border: none;
            text-align: center;
            border-right: 1px solid #dfdfdf;
            border-left: 1px solid #dfdfdf;
            outline: none; }
      .detail .wrap .rgt .btn {
        padding-left: 55px;
        margin-top: 60px; }
        .detail .wrap .rgt .btn a, .detail .wrap .rgt .btn span {
          display: inline-block;
          width: 200px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          font-size: 20px;
          cursor: default; }
        .detail .wrap .rgt .btn a {
          color: #fff;
          background: red;
          margin-right: 10px; }
        .detail .wrap .rgt .btn span:last-child {
          color: #444;
          border: 1px solid #ddd; }

.tab .wrap .choose {
  position: relative;
  width: 900px;
  margin: 0 auto;
  border: 1px solid #e5e5e5; }
  .tab .wrap .choose .title {
    background: #f6f6f6;
    height: 58px;
    border-bottom: 1px solid #e5e5e5; }
    .tab .wrap .choose .title a {
      float: left;
      color: #666;
      width: 149px;
      height: 58px;
      border-right: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      text-align: center;
      line-height: 58px;
      font-size: 15px; }
    .tab .wrap .choose .title a.active {
      border-top: 4px solid #ef2f23;
      border-bottom: 1px solid #fff;
      height: 54px;
      line-height: 51px;
      background-color: #fff; }
  .tab .wrap .choose .one {
    padding-bottom: 100px;
    background: #fff;
    margin-top: 18px;
    padding-right: 18px;
    padding-left: 18px;
    display: block; }
    .tab .wrap .choose .one h3 {
      height: 64px;
      line-height: 64px;
      font-size: 18px;
      text-decoration: underline; }
    .tab .wrap .choose .one p {
      font-size: 14px;
      margin-bottom: 34px; }
    .tab .wrap .choose .one table {
      width: 100%;
      border-collapse: collapse; }
      .tab .wrap .choose .one table td {
        border: 1px solid #eee;
        width: 232px;
        height: 34px;
        color: #666;
        padding-left: 10px; }
  .tab .wrap .choose .two {
    padding-bottom: 100px;
    background: #fff;
    margin-top: 18px;
    padding-right: 18px;
    padding-left: 18px;
    display: none; }
    .tab .wrap .choose .two h3 {
      height: 64px;
      line-height: 64px;
      font-size: 18px;
      text-decoration: underline; }
    .tab .wrap .choose .two p {
      font-size: 14px;
      margin-bottom: 34px; }
  .tab .wrap .choose .three {
    padding-bottom: 100px;
    background: #fff;
    margin-top: 18px;
    padding-right: 18px;
    padding-left: 18px;
    display: none; }
    .tab .wrap .choose .three h3 {
      height: 64px;
      line-height: 64px;
      font-size: 18px;
      text-decoration: underline; }
    .tab .wrap .choose .three .goods {
      overflow: hidden; }
      .tab .wrap .choose .three .goods a {
        display: block;
        color: #666;
        font-size: 13px;
        margin-bottom: 30px;
        float: left;
        margin-right: 12px; }
        .tab .wrap .choose .three .goods a img {
          display: block; }
        .tab .wrap .choose .three .goods a p:nth-of-type(1) {
          line-height: 30px; }
        .tab .wrap .choose .three .goods a .xx {
          display: inline-block;
          padding-left: 18px;
          margin-left: 20px;
          color: #aaa;
          background: url(/img/details/icon3.jpg) no-repeat left center; }
