@charset "UTF-8";
.w1200, .search .wrap, .bantitle .wrap, .banner .wrap, .xians .wrap, .hotmen, .jxzt, .lou {
  width: 1200px;
  margin: 0 auto; }

.header {
  height: 31px;
  background-color: #f2f2f2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd; }
  .header .wrap {
    width: 1200px;
    margin: 0 auto; }
    .header .wrap > a {
      background: url(../img/iconimg/icon1.jpg) no-repeat left 9px;
      height: 31px;
      line-height: 31px;
      color: #333;
      padding-left: 20px; }
    .header .wrap ul > li {
      padding: 0 6px;
      float: left; }
      .header .wrap ul > li span {
        padding-left: 9px;
        color: #ddd; }
      .header .wrap ul > li a {
        line-height: 31px;
        height: 31px;
        display: inline-block;
        color: #333; }
      .header .wrap ul > li .mydd {
        background: url(../img/iconimg/icon2.jpg) no-repeat left 11px;
        padding-left: 18px; }
      .header .wrap ul > li .cart {
        padding-left: 26px;
        background: url(../img/iconimg/icon3.jpg) no-repeat left 9px; }
      .header .wrap ul > li .kf {
        padding-right: 11px;
        background: url(../img/iconimg/icon4.jpg) no-repeat right 14px; }
      .header .wrap ul > li .myshop {
        padding-left: 23px;
        padding-right: 11px;
        background: url(../img/iconimg/icon5.jpg) no-repeat left 7px, url(../img/iconimg/icon4.jpg) no-repeat right 14px; }
    .header .wrap .cartli {
      position: relative; }
      .header .wrap .cartli div {
        position: absolute;
        top: 31px;
        border: 1px solid #ddd;
        height: 54px;
        width: 200px;
        background-color: #eee;
        border-top: none;
        border-radius: 0 0 4px 4px;
        line-height: 54px;
        text-align: center;
        left: -96px;
        display: none; }
    .header .wrap .kfli, .header .wrap .myshopli {
      position: relative; }
      .header .wrap .kfli ol, .header .wrap .myshopli ol {
        position: absolute;
        width: 100px;
        height: 90px;
        border: 1px solid #ddd;
        border-top: none;
        border-radius: 0 0 4px 4px;
        background-color: #eee;
        left: -8px;
        top: 31px;
        display: none; }
        .header .wrap .kfli ol li, .header .wrap .myshopli ol li {
          height: 30px;
          line-height: 30px;
          text-align: center; }
        .header .wrap .kfli ol li.active, .header .wrap .myshopli ol li.active {
          background: #e4e4e4; }
    .header .wrap .myshopli ol {
      height: 120px;
      width: 90px; }

.search {
  height: 90px; }
  .search .wrap {
    height: 90px; }
    .search .wrap > a {
      float: left;
      width: 240px;
      height: 90px;
      text-indent: -9999px;
      background: url(../img/logo.png) no-repeat; }
    .search .wrap .center {
      width: 482px;
      margin-left: 120px;
      margin-top: 20px; }
      .search .wrap .center .top {
        border: 1px solid #ff0077;
        height: 34px;
        border-radius: 0 8px 8px 0; }
        .search .wrap .center .top .top-l {
          color: #ff0077;
          line-height: 34px;
          text-align: center;
          width: 60px;
          height: 34px; }
          .search .wrap .center .top .top-l ul {
            display: none;
            width: 60px;
            border: 1px solid #e5e5e5;
            border-top: 1px solid #ff0077;
            line-height: 30px;
            padding-top: 1px;
            position: absolute;
            background: #fff;
            margin-left: -1px; }
            .search .wrap .center .top .top-l ul a {
              color: #ff0077; }
            .search .wrap .center .top .top-l ul li.active {
              background: #ffeef4; }
          .search .wrap .center .top .top-l span {
            display: block;
            width: 100%;
            height: 34px;
            cursor: pointer;
            background: url(../img/iconimg/icon6.jpg) no-repeat right 15px; }
        .search .wrap .center .top form {
          position: relative; }
          .search .wrap .center .top form .txt {
            height: 34px;
            line-height: 34px;
            border: none;
            outline: none;
            color: #999;
            padding-left: 9px;
            font-size: 10px;
            width: 310px; }
          .search .wrap .center .top form .btn {
            border: none;
            outline: none;
            background: #ff1580;
            width: 100px;
            height: 34px;
            border-radius: 0 8px 8px 0;
            background-image: linear-gradient(to right, #f25, #ff1581);
            font-size: 15px;
            /*letter-spacing: 10px;*/
            color: white;
            text-align: center; }
          .search .wrap .center .top form .history {
            position: absolute;
            width: 320px;
            height: 286px;
            border: 1px solid #ff0077;
            margin-left: -2px;
            margin-top: 34px;
            background: #fff;
            display: none; }
            .search .wrap .center .top form .history h3 {
              line-height: 16px;
              height: 16px;
              padding: 10px;
              font-weight: normal;
              color: #b5b5b5;
              font-size: 12px; }
      .search .wrap .center .bottom {
        line-height: 30px; }
        .search .wrap .center .bottom a {
          color: #666;
          margin-right: 12px; }
        .search .wrap .center .bottom a.hot {
          color: #ff0077; }
    .search .wrap img {
      width: 220px;
      height: 90px; }

.bantitle {
  height: 40px;
  border-bottom: 2px solid #ff0077; }
  .bantitle .wrap {
    height: 40px; }
    .bantitle .wrap div {
      width: 257px;
      height: 40px;
      font-size: 17px;
      text-indent: 46px;
      float: left;
      background: url(../img/iconimg/icon7.jpg) no-repeat 20px 14px #ff0077;
      line-height: 40px; }
      .bantitle .wrap div a {
        color: white; }
    .bantitle .wrap ul {
      float: left; }
      .bantitle .wrap ul li {
        float: left;
        height: 40px;
        line-height: 40px;
        margin-left: 33px;
        font-size: 17px;
        color: #ddd; }
        .bantitle .wrap ul li a {
          color: #333; }
          .bantitle .wrap ul li a:hover {
            color: #ff0077; }

.banner {
  height: 440px;
  background-color: white; }
  .banner .wrap {
    position: relative; }
    .banner .wrap > ul {
      float: left;
      width: 257px;
      height: 436px;
      padding-top: 4px;
      background-color: rgba(255, 255, 255, 0.8); }
      .banner .wrap > ul li {
        height: 31px;
        line-height: 31px;
        opacity: 1; }
        .banner .wrap > ul li:hover {
          border-left: 2px solid red; }
          .banner .wrap > ul li:hover dt {
            margin-left: 17px; }
        .banner .wrap > ul li dl dt {
          margin-left: 19px;
          margin-right: 12px;
          font-size: 14px;
          font-weight: bold;
          float: left; }
          .banner .wrap > ul li dl dt a {
            color: #000; }
            .banner .wrap > ul li dl dt a:hover {
              text-decoration: underline; }
        .banner .wrap > ul li dl dd {
          float: left;
          margin-right: 19px; }
          .banner .wrap > ul li dl dd a {
            color: #666666;
            font-size: 11px; }
            .banner .wrap > ul li dl dd a.hot {
              padding-right: 15px;
              background: url(../img/iconimg/icon8.jpg) no-repeat right -1px; }
            .banner .wrap > ul li dl dd a:hover {
              text-decoration: underline; }
        .banner .wrap > ul li dl dd:last-child {
          margin-right: 0; }
    .banner .wrap .show {
      position: absolute;
      background: #fff;
      left: 257px;
      top: 0px;
      width: 757px;
      padding-left: 20px;
      height: 440px;
      z-index: 10; }
      .banner .wrap .show .left {
        width: 500px;
        height: 100%; }
        .banner .wrap .show .left h3 {
          font-size: 14px;
          height: 39px;
          line-height: 39px; }
        .banner .wrap .show .left p.title {
          height: 25px;
          line-height: 25px;
          border-bottom: 1px solid #e5e5e5; }
          .banner .wrap .show .left p.title a {
            color: #444; }
        .banner .wrap .show .left .content {
          line-height: 25px;
          padding-top: 10px;
          padding-bottom: 15px; }
          .banner .wrap .show .left .content a {
            color: #999;
            margin-right: 20px; }
            .banner .wrap .show .left .content a.hot {
              color: #ff0077; }
        .banner .wrap .show .left .last img {
          margin: 5px 42px 0 0; }
      .banner .wrap .show .right {
        width: 221px;
        height: 100%;
        margin-right: 18px; }
        .banner .wrap .show .right h3 {
          height: 22px;
          line-height: 22px;
          font-size: 16px;
          text-align: center;
          margin-top: 9px; }
        .banner .wrap .show .right > p {
          height: 20px;
          line-height: 20px;
          color: #666;
          text-align: center;
          font-weight: bold; }
        .banner .wrap .show .right > a {
          display: block;
          width: 100px;
          height: 120px;
          color: #444;
          margin-top: 5px; }
          .banner .wrap .show .right > a:hover {
            opacity: 0.7; }
          .banner .wrap .show .right > a .price {
            height: 20px;
            line-height: 20px;
            font-size: 9px;
            text-align: center; }
          .banner .wrap .show .right > a .top {
            position: relative; }
            .banner .wrap .show .right > a .top img {
              display: block; }
            .banner .wrap .show .right > a .top div {
              position: absolute;
              width: 100px;
              bottom: 0;
              height: 21px;
              line-height: 21px;
              background: rgba(255, 255, 255, 0.6);
              font-size: 11px;
              text-overflow: ellipsis;
              overflow: hidden; }
    .banner .wrap .rgt {
      width: 166px; }
      .banner .wrap .rgt > div {
        height: 205px;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.8);
        overflow: hidden; }
      .banner .wrap .rgt .personCenter .tou {
        display: block;
        width: 72px;
        height: 72px;
        border-radius: 36px;
        background: url(../img/tou.png) no-repeat center center #ff94c6;
        background-size: 30px 30px;
        margin: 10px auto 0; }
      .banner .wrap .rgt .personCenter p {
        height: 30px;
        line-height: 30px;
        text-align: center; }
        .banner .wrap .rgt .personCenter p span:first-child {
          color: #666; }
        .banner .wrap .rgt .personCenter p span:last-child {
          color: #333; }
      .banner .wrap .rgt .personCenter div {
        width: 72px;
        height: 24px;
        border: 1px solid #ff5777;
        margin: 0 auto;
        text-align: center;
        line-height: 24px; }
        .banner .wrap .rgt .personCenter div a {
          color: #ff5777; }
      .banner .wrap .rgt .ad {
        text-align: center; }
        .banner .wrap .rgt .ad img {
          width: 130px;
          height: 130px; }
        .banner .wrap .rgt .ad a {
          display: block; }
        .banner .wrap .rgt .ad p:nth-of-type(1) {
          margin-top: 19px;
          font-size: 15px;
          color: #333;
          height: 27px;
          line-height: 27px; }
        .banner .wrap .rgt .ad p:nth-of-type(2) {
          height: 24px;
          line-height: 24px;
          font-size: 12px;
          color: #666; }
    .banner .wrap .bannershow {
      position: absolute;
      left: 257px;
      height: 440px;
      width: 757px; }
      .banner .wrap .bannershow > a {
        display: none; }
      .banner .wrap .bannershow img {
        position: absolute; }
      .banner .wrap .bannershow > a:first-child {
        display: block; }
      .banner .wrap .bannershow .pt {
        position: absolute;
        bottom: 10px;
        z-index: 2;
        text-align: center;
        width: 100%; }
        .banner .wrap .bannershow .pt a {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: #e7e7e7;
          border-radius: 10px;
          margin-right: 6px; }
        .banner .wrap .bannershow .pt a:first-child {
          background-color: #ff0077; }

.xians {
  height: 184px; }
  .xians .wrap {
    margin-top: 10px; }
    .xians .wrap > div {
      float: left; }
    .xians .wrap img {
      transition: 0.3s; }
    .xians .wrap img:hover {
      transform: translateX(-5px); }
    .xians .wrap > div:nth-of-type(1), .xians .wrap > div:nth-of-type(3), .xians .wrap > div:nth-of-type(5) {
      width: 214px;
      height: 184px;
      border-right: 1px solid #e5e5e5; }
      .xians .wrap > div:nth-of-type(1) p:nth-of-type(1), .xians .wrap > div:nth-of-type(3) p:nth-of-type(1), .xians .wrap > div:nth-of-type(5) p:nth-of-type(1) {
        margin-top: 16px;
        height: 29px;
        line-height: 29px;
        font-size: 16px;
        padding-left: 16px; }
      .xians .wrap > div:nth-of-type(1) p:nth-of-type(2), .xians .wrap > div:nth-of-type(3) p:nth-of-type(2), .xians .wrap > div:nth-of-type(5) p:nth-of-type(2) {
        float: left;
        height: 22px;
        line-height: 22px;
        font-size: 10px;
        margin-left: 16px;
        background: #4b4b4b;
        border-radius: 4px;
        text-align: center;
        padding: 0 6px;
        color: #fff; }
      .xians .wrap > div:nth-of-type(1) a, .xians .wrap > div:nth-of-type(3) a, .xians .wrap > div:nth-of-type(5) a {
        display: block;
        margin: 33px 0 0 70px; }
    .xians .wrap > div:nth-of-type(2), .xians .wrap > div:nth-of-type(4) {
      width: 254px;
      height: 184px; }
      .xians .wrap > div:nth-of-type(2) div, .xians .wrap > div:nth-of-type(4) div {
        height: 91px;
        border-bottom: 1px solid #e5e5e5;
        position: relative; }
        .xians .wrap > div:nth-of-type(2) div p:nth-of-type(1), .xians .wrap > div:nth-of-type(4) div p:nth-of-type(1) {
          padding-top: 16px;
          height: 29px;
          line-height: 29px;
          font-size: 17px;
          padding-left: 18px;
          border-right: none; }
        .xians .wrap > div:nth-of-type(2) div p:nth-of-type(2), .xians .wrap > div:nth-of-type(4) div p:nth-of-type(2) {
          height: 22px;
          line-height: 22px;
          font-size: 12px;
          padding-left: 18px;
          color: #999; }
        .xians .wrap > div:nth-of-type(2) div a, .xians .wrap > div:nth-of-type(4) div a {
          position: absolute;
          top: 8px;
          right: 28px; }
      .xians .wrap > div:nth-of-type(2) div:nth-of-type(2), .xians .wrap > div:nth-of-type(4) div:nth-of-type(2) {
        border-bottom: none; }
        .xians .wrap > div:nth-of-type(2) div:nth-of-type(2) a, .xians .wrap > div:nth-of-type(4) div:nth-of-type(2) a {
          position: absolute;
          top: 8px;
          right: 20px; }
    .xians .wrap > div:nth-of-type(3) {
      margin-left: 11px; }

.hotmen {
  margin-top: 27px;
  height: 415px; }
  .hotmen .title {
    height: 50px;
    line-height: 50px; }
    .hotmen .title a:nth-of-type(1) {
      height: 22px;
      line-height: 22px;
      margin-top: 14px;
      font-size: 22px;
      color: black;
      font-weight: bold;
      float: left;
      border-left: 7px solid #ff484d;
      padding-left: 9px; }
    .hotmen .title a:nth-of-type(2) {
      float: right;
      font-size: 11px;
      color: #666; }
  .hotmen .con .left {
    width: 960px; }
    .hotmen .con .left a {
      transition: all 1s;
      float: left;
      margin-right: 10px;
      position: relative; }
      .hotmen .con .left a img {
        width: 182px;
        height: 364px; }
      .hotmen .con .left a p {
        position: absolute;
        bottom: 5px;
        margin: 0 auto;
        padding: 0 12px;
        border-radius: 19px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        color: #fff; }
  .hotmen .con .right {
    float: right;
    width: 240px; }
    .hotmen .con .right a {
      width: 114px;
      height: 114px;
      float: left;
      position: relative;
      text-align: center;
      border-radius: 8px;
      margin-bottom: 11px;
      overflow: hidden; }
      .hotmen .con .right a img {
        width: 114px; }
      .hotmen .con .right a span {
        position: absolute;
        top: 89px;
        left: 28px;
        color: #eee; }
      .hotmen .con .right a:hover {
        opacity: 0.8; }
    .hotmen .con .right a:nth-of-type(2n) {
      float: right; }

.jxzt {
  height: 314px; }
  .jxzt .title {
    margin-top: 26px;
    height: 54px;
    width: 950px; }
    .jxzt .title a {
      font-size: 20px;
      color: #000;
      font-weight: bold;
      float: left;
      border-left: 7px solid #ff8ba9;
      margin-top: 16px;
      padding-left: 10px; }
    .jxzt .title p {
      float: right; }
      .jxzt .title p span {
        display: inline-block;
        width: 26px;
        height: 26px;
        border-radius: 13px;
        color: #fff;
        text-align: center;
        background-color: #ccc;
        margin-top: 16px;
        margin-right: 6px;
        line-height: 26px;
        cursor: default; }
      .jxzt .title p span.active {
        background-color: #333; }
  .jxzt .show .lun {
    width: 950px;
    float: left;
    position: relative;
    height: 260px;
    overflow: hidden; }
    .jxzt .show .lun #prev, .jxzt .show .lun #next {
      width: 30px;
      height: 60px;
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      top: 99px;
      text-align: center;
      line-height: 60px;
      color: #fff;
      z-index: 20;
      font-size: 15px;
      display: none; }
    .jxzt .show .lun #prev {
      border-radius: 0 6px 6px 0;
      left: 0; }
    .jxzt .show .lun #next {
      border-radius: 6px 0 0 6px;
      right: 0px; }
    .jxzt .show .lun .lungo {
      position: absolute;
      left: 0;
      top: 0; }
      .jxzt .show .lun .lungo > div {
        float: left;
        width: 310px;
        margin-right: 10px; }
        .jxzt .show .lun .lungo > div > a {
          margin-bottom: 14px;
          display: block; }
        .jxzt .show .lun .lungo > div div {
          padding-left: 14px; }
          .jxzt .show .lun .lungo > div div a {
            margin-right: 10px;
            display: inline-block;
            height: 91px;
            width: 60px;
            text-align: center;
            color: #333; }
            .jxzt .show .lun .lungo > div div a span {
              line-height: 31px; }
  .jxzt .show .lxys {
    float: right;
    width: 240px; }
    .jxzt .show .lxys h3 {
      height: 60px;
      line-height: 60px;
      font-size: 15px;
      text-indent: 4px;
      font-weight: normal; }
    .jxzt .show .lxys a {
      float: left;
      width: 60px;
      height: 95px;
      text-overflow: ellipsis;
      margin-right: 15px;
      color: #666;
      overflow: hidden;
      transition: 0.3s; }
      .jxzt .show .lxys a:hover {
        opacity: 0.7; }
      .jxzt .show .lxys a span {
        line-height: 21px; }

.lou {
  margin-top: 25px; }
  .lou .title {
    height: 53px;
    line-height: 53px; }
    .lou .title > a {
      color: #444; }
    .lou .title a:hover {
      text-decoration: underline; }
    .lou .title > a:first-child {
      font-size: 19px;
      display: inline-block;
      margin-top: 17px;
      padding: 0 30px 0 10px;
      border-left: 8px solid #9f86cf;
      line-height: 19px; }
    .lou .title > span {
      padding: 0 18px;
      color: #666; }
    .lou .title p {
      float: right; }
      .lou .title p a {
        color: #777; }
  .lou .con {
    height: 360px;
    /*第一类右*/
    /*第二类右*/
    /*第三类右*/ }
    .lou .con .left {
      width: 240px;
      background-color: #ecdaf5;
      float: left;
      position: relative; }
      .lou .con .left .choice {
        z-index: 5;
        position: absolute;
        left: 20px;
        top: 20px;
        width: 208px;
        overflow: hidden; }
        .lou .con .left .choice a {
          display: block;
          float: left;
          margin: 0 10px 10px 0;
          border: 1px solid #a195a7;
          width: 57px;
          height: 27px;
          text-align: center;
          line-height: 27px;
          color: white;
          background-color: rgba(0, 0, 0, 0.3);
          transition: 0.4s; }
        .lou .con .left .choice a:hover {
          background-color: rgba(0, 0, 0, 0.4); }
      .lou .con .left .ad > a {
        display: block;
        width: 240px;
        height: 360px;
        text-align: center;
        color: #555;
        position: relative;
        overflow: hidden; }
        .lou .con .left .ad > a h3 {
          font-size: 25px;
          margin-top: 130px;
          font-weight: normal; }
        .lou .con .left .ad > a p {
          font-size: 14px;
          line-height: 24px;
          color: #888; }
        .lou .con .left .ad > a img {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          transition: 0.4s; }
        .lou .con .left .ad > a img:hover {
          transform: translateY(-10px); }
    .lou .con .center {
      float: left;
      width: 717px; }
      .lou .con .center div {
        float: left;
        border-right: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2; }
        .lou .con .center div a {
          display: block;
          width: 238px;
          height: 180px;
          text-align: center;
          color: #666;
          overflow: hidden; }
          .lou .con .center div a h3 {
            font-weight: normal;
            margin-top: 20px; }
          .lou .con .center div a p {
            color: #aaa;
            line-height: 27px; }
          .lou .con .center div a img {
            transition: 0.4s; }
          .lou .con .center div a img:hover {
            transform: translateY(-5px); }
      .lou .con .center .nobd {
        border-bottom: none; }
    .lou .con .right1 {
      float: right;
      width: 243px; }
      .lou .con .right1 a {
        margin: 0 0 0 4px;
        transition: 0.3s; }
      .lou .con .right1 a:hover {
        opacity: 0.7; }
    .lou .con .right2 {
      float: right;
      width: 220px;
      padding-left: 23px; }
      .lou .con .right2 h3 {
        height: 55px;
        line-height: 55px;
        font-weight: normal;
        font-size: 16px; }
        .lou .con .right2 h3 a {
          color: #888;
          padding-left: 20px;
          float: right;
          background: url(../img/iconimg/icon9.jpg) no-repeat left 22px; }
      .lou .con .right2 > a {
        display: block;
        height: 287px;
        color: #888; }
        .lou .con .right2 > a img:hover {
          opacity: 0.7; }
        .lou .con .right2 > a p.des {
          margin-top: 15px;
          line-height: 19px; }
          .lou .con .right2 > a p.des:hover {
            text-decoration: underline; }
        .lou .con .right2 > a .price {
          line-height: 34px; }
          .lou .con .right2 > a .price span.now {
            color: red;
            margin-right: 12px; }
          .lou .con .right2 > a .price span.old {
            color: #777;
            text-decoration: line-through; }
    .lou .con .right3 {
      float: right;
      width: 220px;
      padding-left: 23px; }
      .lou .con .right3 h3 {
        height: 55px;
        line-height: 55px;
        font-weight: normal;
        font-size: 16px; }
        .lou .con .right3 h3 a {
          color: #888;
          padding-left: 20px;
          float: right;
          background: url(../img/iconimg/icon9.jpg) no-repeat left 22px; }
      .lou .con .right3 .list a {
        height: 66px;
        display: block;
        color: #666;
        margin-bottom: 10px; }
        .lou .con .right3 .list a img {
          margin-right: 20px;
          transition: 0.3s; }
        .lou .con .right3 .list a img:hover {
          opacity: 0.7; }
        .lou .con .right3 .list a div {
          width: 108px;
          line-height: 19px; }
          .lou .con .right3 .list a div p:hover {
            text-decoration: underline; }
          .lou .con .right3 .list a div p:last-child {
            margin-top: 7px; }
            .lou .con .right3 .list a div p:last-child span {
              color: red; }
