.w1200{
	width: 1200px;
	margin: 0 auto;
 }
.header{
	height: 31px;
	background: {
		color:#f2f2f2;
	};
	border:{
		bottom-width:1px;
		bottom-style:solid;
		bottom-color: #ddd;
	};
	.wrap{
		width: 1200px;
		margin: 0 auto;
		&>a{
			background: url(../img/iconimg/icon1.jpg) no-repeat left 9px;
			height: 31px;
			line-height: 31px;
			color: #333;
			padding-left: 20px;
		};
		ul>li{
			padding: 0 6px;
			float: left;
			span{
				padding-left: 9px;
				color: #ddd;
			};
			a{
				line-height: 31px;
				height:31px;
				display: inline-block;	
				color: #333;
			};
			.mydd{
				background: url(../img/iconimg/icon2.jpg) no-repeat left 11px;
				padding-left: 18px;
			};
			.cart{
				padding-left: 26px;
				background: url(../img/iconimg/icon3.jpg) no-repeat left 9px;
			};
			.kf{
				padding-right: 11px;
				background: url(../img/iconimg/icon4.jpg) no-repeat right 14px;
			};
			.myshop{
				padding-left: 23px;
				padding-right: 11px;	
				background: url(../img/iconimg/icon5.jpg) no-repeat left  7px,url(../img/iconimg/icon4.jpg) no-repeat right  14px;
			};
		};
		.cartli{
			position: relative;
			div{
				position: absolute;
				top: 31px;
				border: 1px solid #ddd;
				height: 54px;
				width: 200px;
				background-color: #eee;
				border-top: none;
				border-radius: 0 0 4px 4px;
				line-height: 54px;
				text-align: center;
				left: -96px;
				display: none;
			}
		};
		.kfli{
			position: relative;
			ol{
				position: absolute;
				width: 100px;
				height: 90px;
				border: 1px solid #ddd;
				border-top: none;
				border-radius: 0 0 4px 4px;
				background-color: #eee;
				left: -8px;
				top: 31px;
				display: none;
				li{
					height: 30px;
					line-height: 30px;
					text-align: center;
				};
				li.active{
					background: #e4e4e4;
				}
			}
		};
		.myshopli{
			@extend .kfli;
			ol{
				height: 120px;
				width: 90px;
			}
		}
	}
};

.search{
	height: 90px;
	.wrap{
		@extend .w1200;
		height: 90px;
		&>a{
			float: left;
			width: 240px;
			height: 90px;
			text-indent: -9999px;
			background: url(../img/logo.png) no-repeat;
		};
		.center{
			width: 482px;
			margin-left: 120px;
			margin-top: 20px;
			.top{
				border: 1px solid #ff0077;
				height: 34px;
				border-radius: 0 8px 8px 0;
				.top-l{
					color: #ff0077;
					line-height: 34px;
					text-align: center;
					width: 60px;
					height: 34px;
					ul{
						display: none;
						width: 60px;
						border: 1px solid #e5e5e5;
						border-top: 1px solid #ff0077;
						line-height: 30px;
						padding-top: 1px;
						position: absolute;
						background: #fff;
						margin-left: -1px;
						a{
							color: #ff0077;
						};
						li.active{
							background: #ffeef4;
						}
					};
					span{
						display: block;
						width: 100%;
						height: 34px;
						cursor: pointer;
						background: url(../img/iconimg/icon6.jpg) no-repeat right 15px;
					}
				};
				form{
					position: relative;
					.txt{
						height: 34px;
						line-height: 34px;
						border: none;
						outline: none;
						color: #999;
						padding-left: 9px;
						font-size: 10px;
						width: 310px;
					};
					.btn{
						border: none;
						outline: none;
						background: #ff1580;
						width: 100px;
						height: 34px;
						border-radius: 0 8px 8px 0;
						background-image: linear-gradient(to right,#f25,#ff1581);
						font-size: 15px;
						/*letter-spacing: 10px;*/
						color: white;
						text-align: center;
					};
					.history{
						position: absolute;
						width: 320px;
						height: 286px;
						border: 1px solid #ff0077;
						margin-left:-2px;
						margin-top: 34px;
						background: #fff;
						display: none;
						h3{
							line-height: 16px;
							height: 16px;
							padding: 10px;
							font-weight: normal;
							color: #b5b5b5;
							font-size: 12px;
						} 
					}
				}
			};
			.bottom{
				line-height: 30px;
				a{
					color: #666;
					margin-right: 12px;
				};
				a.hot{
					color: #ff0077;
				}
			};
		};
		img{
			width: 220px;
			height: 90px;
		};
	}
}

.bantitle{
	height: 40px;
	border-bottom: 2px solid #ff0077;
	.wrap{
		@extend .w1200;
		height: 40px;
		div{
			width: 257px;
			height: 40px;
			font-size: 17px;
			text-indent: 46px;
			float: left;
			background: url(../img/iconimg/icon7.jpg) no-repeat 20px 14px #ff0077;
			line-height: 40px;
			a{
				color: white;
			}
		};
		ul{
			float: left;
			li{
				float: left;
				height: 40px;
				line-height: 40px;
				margin-left: 33px;
				font-size: 17px;
				a{
					color: #333;
					&:hover{
						color:#ff0077;
					};
				}
				color:#ddd;
			}
		}
	}
}

.banner{
	height: 440px;
	background-color: rgb(255,255,255);
	.wrap{
		position: relative;
		@extend .w1200;
		&>ul{
			float: left;
			width: 257px;
			height: 436px;
			padding-top: 4px;
			background-color: rgba(255,255,255,0.8);
			li{
				&:hover{
					border-left:2px solid red;
					dt{
						margin-left: 17px;
					}
				};
				height: 31px;
				line-height: 31px;
				opacity: 1;
				dl{
					dt{
						margin-left: 19px;
						margin-right: 12px;
						font-size: 14px;
						font-weight: bold;
						float: left;
						a{
							color: #000;
							&:hover{
								text-decoration:underline;
							}
						};
					};
					dd{
						float: left;
						margin-right: 19px;
						a{
							color: #666666;
							font-size: 11px;
							&.hot{
								padding-right: 15px;
								background: url(../img/iconimg/icon8.jpg) no-repeat right -1px;
							};
							&:hover{
								text-decoration:underline;
							};
						};
					};
					dd:last-child{
						margin-right: 0;
					}
				}	
			}
		};
		.show{
			position: absolute;
			background: #fff;
			left: 257px;
			top: 0px;
			width: 757px;
			padding-left: 20px;
			height: 440px;
			z-index: 10;
			.left{
				width: 500px;
				height: 100%;
				h3{
					font-size: 14px;
					height: 39px;
					line-height: 39px;
				};
				p.title{
					height:25px;
					line-height:25px;
					border-bottom:1px solid #e5e5e5;
					a{
						color: #444;
					};
				};
				.content{
					line-height: 25px;
					padding-top: 10px;
					padding-bottom: 15px;
					a{
						color: #999;
						margin-right: 20px;
						&.hot{
							color: #ff0077;
						}
					}
				};
				.last{
					img{
						margin: 5px 42px 0 0;
					}
				}
			};
			.right{
				width: 221px;
				height: 100%;
				margin-right: 18px;
				h3{
					height: 22px;
					line-height: 22px;
					font-size: 16px;
					text-align: center;
					margin-top: 9px;
				};
				&>p{
					height: 20px;
					line-height: 20px;
					color: #666;
					text-align: center;
					font-weight: bold;
				};
				&>a{
					display: block;
					width: 100px;
					height: 120px;
					color: #444;
					margin-top: 5px;
					&:hover{
						opacity:0.7;
					};
					.price{
						height: 20px;
						line-height: 20px;
						font-size: 9px;
						text-align: center;
					};
					.top{
						position: relative;
						img{display: block;}
						div{
							position: absolute;
							width: 100px;
							bottom: 0;
							height: 21px;
							line-height: 21px;
							background: rgba(255,255,255,0.6);
							font-size: 11px;
							text-overflow:ellipsis;
							overflow: hidden;
						}
					}
				}
			}
		};
		.rgt{
			width: 166px;
			&>div{
				height: 205px;
				margin-top: 10px;
				background: rgba(255,255,255,0.8);
				overflow: hidden;
			};
			.personCenter{
				.tou{
					display: block;
					width: 72px;
					height: 72px;
					border-radius: 36px;
					background: url(../img/tou.png) no-repeat center center #ff94c6;
					background-size: 30px 30px;
					margin: 10px auto 0;
				};
				p{
					height: 30px;
					line-height: 30px;
					text-align: center;
					span:first-child{
						color:#666;
					};
					span:last-child{
						color:#333;
					};
				};
				div{
					width: 72px;
					height: 24px;
					border: 1px solid #ff5777;
					margin: 0 auto;
					text-align: center;
					line-height: 24px;
					a{
						color: #ff5777;
					}
				}
			};
			.ad{
				text-align: center;
				img{
					width: 130px;
					height: 130px;
				};
				a{display: block;}
				p:nth-of-type(1){
					margin-top: 19px;
					font-size: 15px;
					color: #333;
					height: 27px;
					line-height: 27px;
				}
				p:nth-of-type(2){
					height: 24px;
					line-height: 24px;
					font-size: 12px;
					color: #666;
				}
			}
		};
		.bannershow{
			position: absolute;
			left: 257px;
			height: 440px;
			width: 757px;
			&>a{
				display: none;
			}
			img{
				position: absolute;
			};
			&>a:first-child{
				display: block;
			};
			.pt{
				position: absolute;
				bottom: 10px;
				z-index: 2;
				text-align: center;
				width: 100%;
				a{
					display: inline-block;
					width: 14px;
					height: 14px;
					background: #e7e7e7;
					border-radius:10px; 
					margin-right: 6px;
				}
				a:first-child{
					background-color: #ff0077;
				}
			}
		};
	};
}

.xians{
	height: 184px;
	.wrap{
		margin-top: 10px;
		@extend .w1200;
		&>div{float: left;}
		img{
			transition:0.3s;
		};
		img:hover{
			transform:translateX(-5px);
		};
		&>div:nth-of-type(1),&>div:nth-of-type(3),&>div:nth-of-type(5){
			width:214px;
			height: 184px;
			border-right: 1px solid #e5e5e5;
			p:nth-of-type(1){
				margin-top:16px;
				height: 29px;
				line-height: 29px;
				font-size: 16px;
				padding-left: 16px;
			};
			p:nth-of-type(2){
				float: left;
				height: 22px;
				line-height: 22px;
				font-size: 10px;
				margin-left: 16px;
				background: #4b4b4b;
				border-radius: 4px;
				text-align: center;
				padding:0 6px;
				color: #fff;
			};
			a{
				display: block;
				margin: 33px 0 0 70px;
			}
		};
		&>div:nth-of-type(2),&>div:nth-of-type(4){
			width: 254px;
			height: 184px;
			div{
				height:91px;
				border-bottom:1px solid #e5e5e5; 
				position: relative;
				p:nth-of-type(1){
					padding-top:16px;
					height:29px;
					line-height: 29px;
					font-size: 17px;
					padding-left: 18px;
					border-right: none;
				};
				p:nth-of-type(2){
					height:22px;
					line-height: 22px;
					font-size: 12px;
					padding-left: 18px;
					color: #999;
				};
				a{
					position: absolute;
					top: 8px;
					right: 28px;
				}
			};
			div:nth-of-type(2){
				border-bottom: none;
				a{
					position: absolute;
					top: 8px;
					right: 20px;
				}
			}
		};
		&>div:nth-of-type(3){
			margin-left: 11px;
		}
	}
}

.hotmen{
	@extend .w1200;
	margin-top: 27px;
	height:415px;
	.title{
		height: 50px;
		line-height: 50px;
		a:nth-of-type(1){
			height:22px;
			line-height: 22px;
			margin-top: 14px;
			font-size:22px;
			color: black;
			font-weight: bold;
			float: left;
			border-left: 7px solid #ff484d;
			padding-left: 9px;
		};
		a:nth-of-type(2){
			float: right;
			font-size: 11px;
			color: #666;
		}
	};
	.con{
		.left{
			width: 960px;
			a{
				transition:all 1s;
				float: left;
				margin-right: 10px;
				position: relative;
				img{
					width: 182px;
					height: 364px;
				};
				p{
					position: absolute;
					bottom: 5px;
					margin: 0 auto;
					padding:0 12px;
					border-radius: 19px;
					height: 38px;
					line-height: 38px;
					text-align: center;
					background-color: rgba(0,0,0,0.5);
					font-size: 16px;
					color: #fff;
				}
			}
		};
		.right{
			float: right;
			width: 240px;
			a{
				width: 114px;
				height: 114px;
				float: left;
				position: relative;
				text-align: center;
				border-radius: 8px;
				margin-bottom: 11px;
				overflow: hidden;
				img{
					width: 114px;
				}
				span{
					position: absolute;
					top: 89px;
					left: 28px;
					color: #eee;
				};
				&:hover{
					opacity: 0.8;
				};
			};
			a:nth-of-type(2n){
				float: right;
			}
		}
	}
}

.jxzt{
	height: 314px;
	@extend .w1200;
	.title{
		margin-top: 26px;
		height: 54px;
		width: 950px;
		a{
			font-size: 20px;
			color: #000;
			font-weight: bold;
			float: left;
			border-left: 7px solid #ff8ba9;
			margin-top: 16px;
			padding-left: 10px;
		};
		p{
			float: right;
			span{
				display: inline-block;
				width: 26px;
				height: 26px;
				border-radius: 13px;
				color: #fff;
				text-align: center;
				background-color: #ccc;
				margin-top: 16px;
				margin-right: 6px;
				line-height: 26px;
				cursor: default;
			};
			span.active{
				background-color: #333;
			}
		}
	};
	.show{
		.lun{
			width: 950px;
			float: left;
			position: relative;
			height: 260px;
			overflow: hidden;
			#prev,#next{
				width: 30px;
				height: 60px;
				position: absolute;
				background: rgba(0,0,0,0.7);
				top: 99px;
				text-align: center;
				line-height: 60px;
				color: #fff;
				z-index: 20;
				font-size: 15px;
				display: none;
			};
			#prev{
				border-radius: 0 6px 6px 0;
				left: 0;
			};
			#next{
				border-radius: 6px 0 0 6px;
				right: 0px;
			};
			.lungo{
				position: absolute;
				left: 0;
				top: 0;
				
				&>div{
					float: left;
					width: 310px;
					margin-right: 10px;
					&>a{
						margin-bottom: 14px;
						display: block;
					};
					div{
						padding-left: 14px;
						a{
							margin-right: 10px;
							display: inline-block;
							height: 91px;
							width: 60px;
							text-align: center;
							color: #333;
							span{
								line-height: 31px;
							}
						}
					}
				}
			}
		}
		.lxys{
			float: right;
			width: 240px;
			h3{
				height: 60px;
				line-height: 60px;
				font-size: 15px;
				text-indent: 4px;
				font-weight: normal;
			};
			a{
				float: left;
				width: 60px;
				height: 95px;
				text-overflow:ellipsis;
				margin-right: 15px;
				color: #666;
				overflow: hidden;
				transition:0.3s;
				&:hover{
					opacity:0.7;
				};
				span{
					line-height: 21px;
				}
			}
		}
	}
}

.lou{
	@extend .w1200;
	margin-top: 25px;
	.title{
		height: 53px;
		line-height: 53px;
		&>a{
			color: #444;
		};
		a:hover{text-decoration: underline;};
		&>a:first-child{
			font-size: 19px;
			display: inline-block;
			margin-top: 17px;
			padding: 0 30px 0 10px;
			border-left: 8px solid #9f86cf;
			line-height: 19px;
		};
		&>span{
			padding: 0 18px;
			color: #666;
		}
		p{
			float: right;
			a{color: #777;}
		};
	};
	.con{
		height: 360px;
		.left{
			width: 240px;
			background-color: #ecdaf5;
			float: left;
			position: relative;
			.choice{
				z-index: 5;
				position: absolute;
				left: 20px;
				top:20px;
				width: 208px;
				overflow: hidden;
				a{
					display: block;
					float: left;
					margin: 0 10px 10px 0;
					border: 1px solid #a195a7;
					width: 57px;
					height: 27px;
					text-align: center;
					line-height: 27px;
					color: white;
					background-color: rgba(0,0,0,0.3);
					transition:0.4s;
				};
				a:hover{
					background-color: rgba(0,0,0,0.4);
				}
			};
			.ad{
				&>a{
					display: block;
					width: 240px;
					height: 360px;
					text-align: center;
					color: #555;
					position: relative;
					overflow: hidden;
					h3{
						font-size: 25px;
						margin-top: 130px;
						font-weight: normal;
					};
					p{
						font-size: 14px;
						line-height: 24px;
						color: #888;
					};
					img{
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						transition:0.4s;
					};
					img:hover{
						transform:translateY(-10px);
					}
				}
			}
		};
		.center{
			float: left;
			width: 717px;
			div{
				float: left;
				border-right: 1px solid #f2f2f2;
				border-bottom: 1px solid #f2f2f2;
				a{
					display: block;
					width: 238px;
					height: 180px;
					text-align: center;
					color: #666;
					overflow: hidden;
					h3{
						font-weight: normal;
						margin-top: 20px;
					};
					p{
						color: #aaa;
						line-height: 27px;
					};
					img{
						transition:0.4s;
					}
					img:hover{
						transform:translateY(-5px);
					}
				}
			};
			.nobd{
				border-bottom: none;
			}
		};
		/*第一类右*/
		.right1{
			float: right;
			width: 243px;
			a{
				margin: 0 0 0 4px;
				transition:0.3s;
			};
			a:hover{
				opacity: 0.7
			}
		}
		/*第二类右*/
		.right2{
			float: right;
			width: 220px;
			padding-left: 23px;
			h3{
				height: 55px;
				line-height: 55px;
				font-weight: normal;
				font-size: 16px;
				a{
					color: #888;
					padding-left: 20px;
					float: right;
					background: url(../img/iconimg/icon9.jpg) no-repeat left 22px;
				}
			};
			&>a{
				display: block;
				height: 287px;
				color: #888;
				img:hover{
					opacity:0.7;
				}
				p.des{
					margin-top: 15px;
					line-height: 19px;
					&:hover{
						text-decoration:underline;
					}
				}
				.price{
					line-height: 34px;
					span.now{
						color: red;
						margin-right: 12px;
					};
					span.old{
						color: #777;
						text-decoration: line-through;
					}
				}
			}
		}

		/*第三类右*/
		.right3{
			float: right;
			width: 220px;
			padding-left: 23px;
			h3{
				height: 55px;
				line-height: 55px;
				font-weight: normal;
				font-size: 16px;
				a{
					color: #888;
					padding-left: 20px;
					float: right;
					background: url(../img/iconimg/icon9.jpg) no-repeat left 22px;
				}
			};
			.list{
				a{
					height: 66px;
					display: block;
					color: #666;
					margin-bottom: 10px;
					img{
						margin-right: 20px;
						transition:0.3s;
					};
					img:hover{
						opacity: 0.7;
					}
					div{
						width: 108px;
						line-height: 19px;
						p:hover{
							text-decoration:underline;
						};
						p:last-child{
							margin-top: 7px;
							span{
								color:red;
							}
						};
					};
				}
			}
		}
	}
}