.w1200{
	width:1200px;
	margin:0 auto;
}
.clear:after{
	content: '';
	display:block;
	clear: both;
}
.clear{zoom:1;}
.side{
	position: fixed;
	right: 0;
	top: 0;
	width: 30px;
	background: #202020;
	height: 100%;
	a{
		display: block;
		padding: 13px 5px;
		text-align: center;
		margin: 0 auto;
		border-bottom: 1px solid #919191;
		color: #fff;
	};
	a:first-child{
		margin-top: 99px;
	}
	a:hover{
		background-color: red;
	};
	a:last-child{
		position: absolute;
		bottom: 20px;
		border-bottom: none;
		border-top: 1px solid #919191;
	}
}

.search{
	height: 90px;
	border-bottom: 2px solid #ff4466;
	.wrap{
		@extend .w1200;
		height: 90px;
		&>a{
			float: left;
			width: 240px;
			height: 90px;
			text-indent: -9999px;
			background: url(../img/logo.png) no-repeat;
		};
		.center{
			width: 482px;
			margin-left: 120px;
			margin-top: 20px;
			.top{
				border: 1px solid #ff0077;
				height: 34px;
				border-radius: 0 8px 8px 0;
				.top-l{
					color: #ff0077;
					line-height: 34px;
					text-align: center;
					width: 60px;
					height: 34px;
					ul{
						display: none;
						width: 60px;
						border: 1px solid #e5e5e5;
						border-top: 1px solid #ff0077;
						line-height: 30px;
						padding-top: 1px;
						position: absolute;
						background: #fff;
						margin-left: -1px;
						a{
							color: #ff0077;
						};
						li.active{
							background: #ffeef4;
						}
					};
					span{
						display: block;
						width: 100%;
						height: 34px;
						cursor: pointer;
						background: url(../img/iconimg/icon6.jpg) no-repeat right 15px;
					}
				};
				form{
					position: relative;
					.txt{
						height: 34px;
						line-height: 34px;
						border: none;
						outline: none;
						color: #999;
						padding-left: 9px;
						font-size: 10px;
						width: 310px;
					};
					.btn{
						border: none;
						outline: none;
						background: #ff1580;
						width: 100px;
						height: 34px;
						border-radius: 0 8px 8px 0;
						background-image: linear-gradient(to right,#f25,#ff1581);
						font-size: 15px;
						/*letter-spacing: 10px;*/
						color: white;
						text-align: center;
					};
					.history{
						position: absolute;
						width: 320px;
						height: 286px;
						border: 1px solid #ff0077;
						margin-left:-2px;
						margin-top: 34px;
						background: #fff;
						display: none;
						z-index: 50;
						h3{
							line-height: 16px;
							height: 16px;
							padding: 10px;
							font-weight: normal;
							color: #b5b5b5;
							font-size: 12px;
						} 
					}
				}
			};
			.bottom{
				line-height: 30px;
				a{
					color: #666;
					margin-right: 12px;
				};
				a.hot{
					color: #ff0077;
				};
				
				a:hover{
					color: #ff0077;
					text-decoration: underline;
				}
			};
		};
		img{
			width: 220px;
			height: 90px;
		};
	}
}


.tab{
	.wrap{
		width: 1198px;
		margin: 0 auto;
		margin-top: 30px;
		border: 1px solid #e5e5e5;
		height: 319px;
		.tabul{
			height: 38px;
			border-bottom: 1px solid #e5e5e5;
			background-color: #fafafa;
			padding-left: 10px;
			li{
				float: left;
				padding: 0 16px;
				height: 38px;
				line-height: 38px;
				text-align: center;
				a{
					color: #666;
				}
			}
			li:hover{
				padding: 0 15px;
				line-height: 34px;
				height: 37px;
				background-color: #fff;
				border-top: 2px solid #ff4466;
				border-left: 1px solid #e5e5e5;
				border-right: 1px solid #e5e5e5;
			}
		}

		&>div{
			padding: 20px 20px 0 30px;
			overflow: hidden;
			.left{
				float: left;
				width: 927px;
				border-right: 1px dashed #666;
				overflow: hidden;
				&>div{
					width: 460px;
					float: left;
					height: 126px;
					h3{
						height: 38px;
						line-height: 38px;
						font-size: 15px;
						font-weight: normal;	
					}
					div{
						overflow: hidden;					
						img{
							border:1px solid #eee;
							float: left;
							margin-right: 15px;
							display: block;
						}
						p{
							float: right;
							width: 338px;
							margin-right: 38px;
							line-height: 24px;
							a{
								color: #666;
							}
							span{
								padding: 0 15px;
								color: #e5e5e5;	
							}
						}
					}
				}
			}

			.right{
				float: right;
			}
		}
	}
}

.lou{
	.wrap{
		@extend .w1200;
		margin-top: 23px;
		h3{
			height: 47px;
			line-height: 47px;
			font-size: 23px;
			font-weight: normal;
		}
		.choose{
			height: 38px;
			border: 1px solid #e5e5e5;
			margin-bottom: 30px;
			padding-left: 20px;
			line-height: 38px;
			.mes{
				float: left;
				a{
					color: #555;
				}
				a.active{
					color: red;
				}
				span{
					padding: 0 20px;
					color: #cfcfcf;
				}
			}
			&>span{
				float: left;
				padding: 0 5px;
			}
			.txt{
				float: left;
				width: 46px;
				height: 22px;
				border: 1px solid #e5e5e5;
				margin-top: 7px;
				span{
					float: left;
					line-height: 22px;
					padding: 0 2px;
				}
				input{
					width: 31px;
					height: 22px;
					border: none;
					float: left;
					outline: none;
				}
			}
			.ok{
				float: left;
				width: 45px;
				height: 22px;
				border: 1px solid #e5e5e5;
				margin-top: 7px;
				line-height: 22px;
				text-align: center;
				margin-left: 10px;
				cursor: default;
			}
			.range{
				margin-left: 10px;
				border: 1px solid #e5e5e5;
				float: left;
				margin-top: 7px;
				line-height: 22px;
				a{
					float: left;
					height: 22px;
					padding: 0 18px;
					color: #666;
					border-right: 1px solid #e5e5e5;
				}
				a:last-child{
					border: none;
				}
			}
		}
	}
}

.ad{
	.con{
		&>div{
			width: 213px;
			border: 1px solid #ebecee;
			height: 408px;
			position: relative;
			float: left;
			margin-right: 25px;
			margin-bottom: 25px;
			&:hover{
				border-color:#ff5577;
				.zxs{
					display: block;
				}
			};
			.zxs{
				position: absolute;
				bottom: 78px;
				height: 24px;
				width: 100%;
				text-align: center;
				line-height: 24px;
				color: white;
				background-color: rgba(253,133,156,0.7);
				display: none;
			};
			a{
				display: block;
				position: relative;
				overflow: hidden;
				color: #666;
				&>span{
					position: absolute;
					top: 0;
					left: 10px;
				};
				&>p{
					margin-top: 6px;
					line-height: 20px;
					padding-left: 10px;
				};
				div{
					height: 32px;
					line-height: 32px;
					.now{
						font-size: 12px;
						padding-left: 10px;
						font-weight: bold;
					}
					.old{font-size: 10px;
						 color: #777;
						 padding-left: 10px;
						 text-decoration: line-through;
						}
					p{padding-left: 19px;
						padding-right: 10px;
						color: #9999b2;
						background: url(../img/iconimg/icon11.jpg) no-repeat left 9px;
						float: right;
					}
				}
			};
		}
	}
}

.bar{
	height: 50px;
	width: 100%;
	position: fixed;
	display: none;
	top:0px;
	z-index: 20;
	background: #fff;
	box-shadow: 0 0 26px #dcdcdc;
	.wrap{
		@extend .w1200;
		div.left{
			height: 50px;
			float: left;
			a{
				width: 144px;
				height: 100%;
				display: block;
				background: url(/img/logo.png) no-repeat left center;
				background-size: 142px 44px;
			}
		};
		.top{
				float: left;
				margin-left: 170px;
				margin-top: 7px;
				border: 1px solid #ff0077;
				height: 34px;
				border-radius: 0 8px 8px 0;
				.top-l{
					color: #ff0077;
					line-height: 34px;
					text-align: center;
					width: 60px;
					height: 34px;
					ul{
						display: none;
						width: 60px;
						border: 1px solid #e5e5e5;
						border-top: 1px solid #ff0077;
						line-height: 30px;
						padding-top: 1px;
						position: absolute;
						background: #fff;
						margin-left: -1px;
						a{
							color: #ff0077;
						};
						li.active{
							background: #ffeef4;
						}
					};
					span{
						display: block;
						width: 100%;
						height: 34px;
						cursor: pointer;
						background: url(../img/iconimg/icon6.jpg) no-repeat right 15px;
					}
				};
				form{
					position: relative;
					.txt{
						height: 34px;
						line-height: 34px;
						border: none;
						outline: none;
						color: #999;
						padding-left: 9px;
						font-size: 10px;
						width: 310px;
					};
					.btn{
						border: none;
						outline: none;
						background: #ff1580;
						width: 100px;
						height: 34px;
						border-radius: 0 8px 8px 0;
						background-image: linear-gradient(to right,#f25,#ff1581);
						font-size: 15px;
						color: white;
						text-align: center;
					};
					.history{
						position: absolute;
						width: 320px;
						height: 286px;
						border: 1px solid #ff0077;
						margin-left:-2px;
						margin-top: 34px;
						background: #fff;
						display: none;
						h3{
							line-height: 16px;
							height: 16px;
							padding: 10px;
							font-weight: normal;
							color: #b5b5b5;
							font-size: 12px;
						} 
					}
				}
			};
	}
}
