.w1200{
	width: 1200px;
	margin: 0 auto;
}
.log{
	.wrap{
		height: 97px;
		@extend .w1200;
		position: relative;
		a{
			position: absolute;
			background: url(/img/logo.png) no-repeat left center;
			width: 220px;
			height: 52px;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

.con{
	height: 600px;
	background: url(/img/registerbgc.png) no-repeat center center;
	.wrap{
		@extend .w1200;
		height: 600px;
		.right{
			margin-top: 80px;
			width: 700px;
			height: 440px;
			float: left;
		};
		form{
			float: right;
			margin-right: 28px;
			margin-top: 81px;
			border: 1px solid #decdcb;
			width: 400px;
			background-color: rgba(255,255,255,0.8);
			.title{
				margin: 0;
				margin-left: 6px;
				height: 56px;
				line-height: 56px;
				padding-left: 22px;
				font-size: 13px;
				border-bottom: 1px solid #d0bfbd;
				overflow: hidden;
				position: relative;
				a{
					display: block;
					width: 120px;
					float: left;
					height: 54px;
					margin: 0 22px;
					color: #666;
					font-weight: bold;
					text-align: center;
				}
				a.active{border-bottom: 2px solid #fe4061;color: #fe4061;}
				span{
					position: absolute;
					right: 0;
					top: 0;
					width: 46px;
					height: 46px;
					cursor: pointer;
					background: url(/img/iconimg/login.png) no-repeat right top;
				}
			}
			&>div{
				margin-left: 38px;
				margin-right: 42px;
				.tel{
					margin-top: 16px;
					overflow: hidden;
					input{
						width: 312px;
						height: 40px;
						border:1px solid #d2bdbd;
						outline: none;
						padding-left: 6px;
						background-color: rgba(255,255,255,0.4);
					}
				}
				.psw{
					margin-top: 16px;
					overflow: hidden;
					input{
						width: 312px;
						height: 40px;
						border:1px solid #d2bdbd;
						outline: none;
						padding-left: 6px;
						background-color: rgba(255,255,255,0.4);
					}
				}
				.btn{
					height: 40px;
					line-height: 40px;
					background-color: #ff546f;
					text-align: center;
					border-radius: 2px;
					margin-top: 25px;
					input{
						background: none;
						border: none;
						color: #fff;
					}
				}
				.choose{
					height: 69px;
					line-height: 69px;
					a{
						margin-right: 50px;
						color: #666;
						img{
							vertical-align: middle;
							margin-right: 6px;
						}
					}
					a:last-child{
						margin-right: 0px;
					}
				}
				.last{
					margin-bottom: 34px;
					float: right;
					a{
					color: #555;
					font-size: 11px;
					text-decoration: underline;
					margin-left: 24px;
					}
				}
			}
		}
	}
}