.w1200{
	width: 1200px;
	margin: 0 auto;
}
.log{
	.wrap{
		height: 97px;
		@extend .w1200;
		position: relative;
		a{
			position: absolute;
			background: url(/img/logo.png) no-repeat left center;
			width: 220px;
			height: 52px;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

.con{
	height: 600px;
	background: url(/img/registerbgc.png) no-repeat center center;
	.wrap{
		@extend .w1200;
		height: 600px;
		.right{
			margin-top: 80px;
			width: 700px;
			height: 440px;
			float: left;
		};
		form{
			float: right;
			margin-right: 28px;
			margin-top: 81px;
			border: 1px solid #decdcb;
			width: 400px;
			background-color: rgba(255,255,255,0.8);
			h3{
				margin-left: 6px;
				height: 56px;
				line-height: 56px;
				padding-left: 40px;
				font-size: 13px;
				border-bottom: 1px solid #d0bfbd;
			}
			&>div{
				margin-left: 38px;
				margin-right: 42px;
				margin-top: 21px;
				p{
					line-height: 30px;
					height: 30px;
					padding-left: 40px;
					color: red;
					display: none;
					background: url(/img/iconimg/icon17.jpg) no-repeat left center #fff;
					border:1px solid #ffc98d;
					margin-bottom: 9px;
				}
				.tel{
					margin-bottom: 15px;
					overflow: hidden;
					select{
						width: 110px;
						height: 38px;
						border:1px solid #d2bdbd;
						outline: none;
						margin-right: 10px;
						float: left;
						background-color: rgba(255,255,255,0.4);
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance:none;
						padding: 0 40px 0 16px;
						text-align: center;
						background: url(/img/iconimg/re1.png) no-repeat right center #ffdcd9;
					}
					input{
						width: 192px;
						height: 36px;
						border:1px solid #d2bdbd;
						outline: none;
						float: left;
						padding-left: 6px;
						background-color: rgba(255,255,255,0.4);
					}
				}
				.yzm{
					margin-bottom: 15px;
					overflow: hidden;
					a{
						float: left;
						width: 110px;
						height: 38px;
						border-radius: 6px;
						line-height: 38px;
						text-align: center;
						color: #fff;
						background-color: #fe546e;
						margin-right: 10px;
						text-decoration: none;
						font-size: 11px;
					}
					p{
						display: none;
						margin-top: 50px;
						background: none;
						width: 200px;
					}
					input{
						width: 192px;
						height: 36px;
						border:1px solid #d2bdbd;
						outline: none;
						float: left;
						padding-left: 6px;
						background-color: rgba(255,255,255,0.4);
					}	
				}
				.btn{
					height: 40px;
					line-height: 40px;
					background-color: #ff546f;
					text-align: center;
					border-radius: 2px;
					input{
						background: none;
						border: none;
						color: #fff;
					}
				}
				.xieyi{
					height: 52px;
					line-height: 52px;
					font-size: 11px;
					a{
						color: #555;
						text-decoration: underline;
					}
				}
				.yyou{
					margin-bottom: 29px;
					float: right;
					a{
					color: #555;
					font-size: 11px;
					text-decoration: underline;
					}
				}
			}
		}
	}
}