<!doctype html>
<html>
<head>
	<meta charset='utf-8' /> 
	<title>蘑菇街-我的买手街</title>
	<link rel="icon" href="https://s10.mogucdn.com/new1/v1/bmisc/3ce382db3c8aaca5d07bd36711e77134/171169993508.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/init.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div class="header"></div>

<div class="search">
	<div class="wrap">
		<a href="#">蘑菇街</a>
		<div class="center fl">
			<div class="top">
				<div class="top-l fl">
					<span class="searchgood">搜商品</span>
					<ul>
						<li><a href="#">商品</a></li>
						<li><a href="#">店铺</a></li>
					</ul>
				</div>
				<form class="fr">
					<input class='txt fl' type="text" placeholder="露背无袖连衣裙" />
					<input class='btn fl' type="submit" value="搜 索" />
					<div class="history">
						<h3>历史记录</h3>
					</div>
				</form>
			</div>
			<div class="bottom">
				<script type="text/html" id="search-hot">
					<% for(var i=0;i<list.length;i++) {
						var hotwho=list[i];
					 %>
					 	<% if(hotwho.hot) { %>
							<a href="#" class="hot"><%= hotwho.content %></a>
						<% }else{ %>
							<a href="#"><%= hotwho.content %></a>
						<% } %>
					<% } %>
				</script>
			</div>
		</div>
		<img src="img/saoys.png" class="fr" />
	</div>
</div>

<div class="bantitle">
	<div class="wrap">
		<div><a href="#">主题市场</a></div>
		<ul>
			<li><a href="#">省钱团购</a></li>
			<li>|</li>
			<li><a href="#">品质优选</a></li>
		</ul>	
	</div>
</div>

<div class="banner">
	<div class="wrap">
		<ul>
			<script type="text/html" id="theamemark">
				<% for(var i=0,len=list.length;i<len;i++){
				    var now=list[i];
				%>
					<li>
						<dl>
							<dt><a href="#"><%= now.title %></a></dt>
							<% for(var j=0;j<now.titleCon.length;j++){
								var nowtitle=now.titleCon[j];
							%>
								<% if(nowtitle.hot){ %>
									<dd><a class="hot" href="#"><%= nowtitle.name %></a></dd>
								<% }else{ %>
									<dd><a href="#"><%= nowtitle.name %></a></dd>
								<% } %>
							<% } %>
						</dl>
					</li>	
				<% } %>
			</script>
		</ul>
		<script type="text/html" id="shoplist">
			<% for(var i=0,len=list.length;i<len;i++) { 
				var now = list[i];
			%>
				<div style="display:none;" class="show">
					<div class="left fl">
						<h3><%= now.title %></h3>
						<p class="title clear"><a class="fl" href="#">当季热卖</a><a style="margin-right:26px;" class="fr" href="#">更多></a></p>
						<div class="content">
							<% for(var j=0;j<now.nowhot.length;j++){
								var hot = ""; 
								if(now.nowhot[j].hot){ hot = "hot"; }
							%>
								<a href="#" class=<%= hot %> ><%= now.nowhot[j].name %></a>	
							<% } %>
						</div>

						<p class="title clear"><a class="fl" href="#">流行新品</a><a style="margin-right:26px;" class="fr" href="#">更多></a></p>
						<div class="content">
							<% for(var j=0;j<now.newgoods.length;j++){
								var hot = ""; 
								if(now.newgoods[j].hot){ hot = "hot"; }
							%>
								<a href="#" class=<%= hot %> ><%= now.newgoods[j].name %></a>	
							<% } %>
						</div>

						<p class="title clear"><a class="fl" href="#">潮流时尚</a><a style="margin-right:26px;" class="fr" href="#">更多></a></p>
						<div class="content">
							<% for(var j=0;j<now.caoliu.length;j++){
								var hot = ""; 
								if(now.caoliu[j].hot){ hot = "hot"; }
							%>
								<a href="#" class=<%= hot %> ><%= now.caoliu[j].name %></a>	
							<% } %>
						</div>

						<p class="title clear"><a class="fl" href="#">品牌推荐</a><a style="margin-right:26px;" class="fr" href="#">更多></a></p>
						<div class="last">
							<% for(var k=0;k<now.brand.length;k++){ 

							%>
								<a href="#"><img src=<%= now.brand[k] %> /></a>
							<% } %>
						</div>
					</div>
					<div class="right fr">
						<h3>为你推荐</h3>
						<p>根据您的购买浏览记录推荐</p>
					</div>
				</div>
			<% } %>
		</script>
		<div class="rgt fr">
			<div class="personCenter">
				<a class="tou" href="#"></a>
				<p><span>菇凉好! </span><span> 欢迎来逛蘑菇街~</span></p>
				<div><a href="#">会员中心</a></div>
			</div>
			<div class="ad">
				<a href="#">
					<p>必败夏日泳装</p>
					<p>三件套抵制999元</p>
					<img src="img/brand/brand6.webp">
				</a>
			</div>
		</div>
		<div class="bannershow"></div>
	</div>
</div>

<div class="xians">
	<div class="wrap">
		<div>
			<p>限时快抢</p>
			<p class="time"></p>
			<a href="#"><img src="img/xsqg/xsqg1.jpg"></a>
		</div>
		<div>
			<div>
				<p>一元抢好货</p>
				<p>整点拼手速</p>
				<a href="#"><img src="img/xsqg/xsqg2.jpg"></a>
			</div>
			<div>
				<p>0.01抽好运</p>
				<p>一分钱幸运礼遇</p>
				<a href="#"><img src="img/xsqg/xsqg3.jpg"></a>
			</div>
		</div>

		<div>
			<p>团购特卖</p>
			<p class="time"></p>
			<a href="#"><img src="img/xsqg/xsqg4.jpg"></a>
		</div>
		<div>
			<div>
				<p>一元抢好货</p>
				<p>整点拼手速</p>
				<a href="#"><img src="img/xsqg/xsqg5.jpg"></a>
			</div>
			<div>
				<p>0.01抽好运</p>
				<p>一分钱幸运礼遇</p>
				<a href="#"><img src="img/xsqg/xsqg6.jpg"></a>
			</div>
		</div>
		<div>
			<p>甄选爆款</p>
			<p class="time"></p>
			<a href="#"><img src="img/xsqg/xsqg7.jpg"></a>
		</div>
	</div>
</div>

<div class="hotmen">
	<div class="title">
		<a href="#">红人穿搭</a>
		<a href="#">查看全部></a>
	</div>
	<div class="con">
		<div class="left">
			<a href="#"><img src=""><p></p></a>
			<a href="#"><img src=""><p></p></a>
			<a href="#"><img src=""><p></p></a>
			<a href="#"><img src=""><p></p></a>
			<a href="#"><img src=""><p></p></a>
		</div>
		<div class="right"></div>
	</div>
</div>		
<script type="text/html" id="bantuijian">
					<% for(var i=0,len=list.length;i<len;i++){
						var now = list[i],floa="fl";
						if(i % 2 != 0){floa = "fr"};
					 %>
						<a class= <%= floa %> href="#">
							<div class="top">
								<img src= <%= now.src %> />
								<div><nobr> <%= now.title %> </nobr></div>
							</div>
							<div class="price"><%= now.price %></div>
						</a>
					<% } %>
				</script>
<script type="text/javascript" src="lib/requirejs/require.js" data-main="js/index"></script>
</body>
</html>