<!doctype html>
<html>
<head>
	<meta charset='utf-8' /> 
	<title>蘑菇街-我的买手街</title>
	<link rel="icon" href="https://s10.mogucdn.com/new1/v1/bmisc/3ce382db3c8aaca5d07bd36711e77134/171169993508.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/init.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div class="header"></div>

<div class="search">
	<div class="wrap">
		<a href="#">蘑菇街</a>
		<div class="center fl">
			<div class="top">
				<div class="top-l fl">
					<span class="searchgood">搜商品</span>
					<ul>
						<li><a href="#">商品</a></li>
						<li><a href="#">店铺</a></li>
					</ul>
				</div>
				<form class="fr">
					<input class='txt fl' type="text" placeholder="露背无袖连衣裙" />
					<input class='btn fl' type="submit" value="搜 索" />
					<div class="history">
						<h3>历史记录</h3>
					</div>
				</form>
			</div>
			<div class="bottom">
				<script type="text/html" id="search-hot">
					<% for(var i=0;i<list.length;i++) {
						var hotwho=list[i];
					 %>
					 	<% if(hotwho.hot) { %>
							<a href="#" class="hot"><%= hotwho.content %></a>
						<% }else{ %>
							<a href="#"><%= hotwho.content %></a>
						<% } %>
					<% } %>
				</script>
			</div>
		</div>
		<img src="img/saoys.png" class="fr" />
	</div>
</div>

<div class="bantitle">
	<div class="wrap">
		<div><a href="#">主题市场</a></div>
		<ul>
			<li><a href="#">省钱团购</a></li>
			<li>|</li>
			<li><a href="#">品质优选</a></li>
		</ul>	
	</div>
</div>

<div class="banner">
	<div class="wrap">
		<ul>
			<script type="text/html" id="theamemark">
				<% for(var i=0,len=list.length;i<len;i++){
				    var now=list[i];
				%>
					<li>
						<dl>
							<dt><a href="#"><%= now.title %></a></dt>
							<% for(var j=0;j<now.titleCon.length;j++){
								var nowtitle=now.titleCon[j];
							%>
								<% if(nowtitle.hot){ %>
									<dd><a class="hot" href="#"><%= nowtitle.name %></a></dd>
								<% }else{ %>
									<dd><a href="#"><%= nowtitle.name %></a></dd>
								<% } %>
							<% } %>
						</dl>
					</li>	
				<% } %>
			</script>
		</ul>
		<script type="text/html" id="shoplist">
			<% for(var i=0,len=list.length;i<len;i++) { 
				var now = list[i];
			%>
				<div style="display:none;" class="show">
					<div class="left fl">
						<h3><%= now.title %></h3>
						<p class="title clear"><a class="fl" href="#">当季热卖</a><a style="margin-right:26px;" class="fr" href="#">更多></a></p>
						<div class="content">
							<% for(var j=0;j<now.nowhot.length;j++){
								var hot = ""; 
								if(now.nowhot[j].hot){ hot = "hot"; }
							%>
								<a href="#" class=<%= hot %> ><%= now.nowhot[j].name %></a>	
							<% } %>
						</div>

						<p class="title clear"><a class="fl" href="#">流行新品</a><a style="margin-right:26px;" class="fr" href="#">更多></a></p>
						<div class="content">
							<% for(var j=0;j<now.newgoods.length;j++){
								var hot = ""; 
								if(now.newgoods[j].hot){ hot = "hot"; }
							%>
								<a href="#" class=<%= hot %> ><%= now.newgoods[j].name %></a>	
							<% } %>
						</div>

						<p class="title clear"><a class="fl" href="#">潮流时尚</a><a style="margin-right:26px;" class="fr" href="#">更多></a></p>
						<div class="content">
							<% for(var j=0;j<now.caoliu.length;j++){
								var hot = ""; 
								if(now.caoliu[j].hot){ hot = "hot"; }
							%>
								<a href="#" class=<%= hot %> ><%= now.caoliu[j].name %></a>	
							<% } %>
						</div>

						<p class="title clear"><a class="fl" href="#">品牌推荐</a><a style="margin-right:26px;" class="fr" href="#">更多></a></p>
						<div class="last">
							<% for(var k=0;k<now.brand.length;k++){ 

							%>
								<a href="#"><img src=<%= now.brand[k] %> /></a>
							<% } %>
						</div>
					</div>
					<div class="right fr">
						<h3>为你推荐</h3>
						<p>根据您的购买浏览记录推荐</p>
					</div>
				</div>
			<% } %>
		</script>
		<div class="rgt fr">
			<div class="personCenter">
				<a class="tou" href="#"></a>
				<p><span>菇凉好! </span><span> 欢迎来逛蘑菇街~</span></p>
				<div><a href="#">会员中心</a></div>
			</div>
			<div class="ad">
				<a href="#">
					<p>必败夏日泳装</p>
					<p>三件套抵制999元</p>
					<img src="img/brand/brand6.webp">
				</a>
			</div>
		</div>
		<div class="bannershow"></div>
	</div>
</div>

<div class="xians">
	<div class="wrap">
		<div>
			<p>限时快抢</p>
			<p class="time"></p>
			<a href="#"><img src="img/xsqg/xsqg1.jpg"></a>
		</div>
		<div>
			<div>
				<p>一元抢好货</p>
				<p>整点拼手速</p>
				<a href="#"><img src="img/xsqg/xsqg2.jpg"></a>
			</div>
			<div>
				<p>0.01抽好运</p>
				<p>一分钱幸运礼遇</p>
				<a href="#"><img src="img/xsqg/xsqg3.jpg"></a>
			</div>
		</div>

		<div>
			<p>团购特卖</p>
			<p class="time"></p>
			<a href="#"><img src="img/xsqg/xsqg4.jpg"></a>
		</div>
		<div>
			<div>
				<p>一元抢好货</p>
				<p>整点拼手速</p>
				<a href="#"><img src="img/xsqg/xsqg5.jpg"></a>
			</div>
			<div>
				<p>0.01抽好运</p>
				<p>一分钱幸运礼遇</p>
				<a href="#"><img src="img/xsqg/xsqg6.jpg"></a>
			</div>
		</div>
		<div>
			<p>甄选爆款</p>
			<p class="time"></p>
			<a href="#"><img src="img/xsqg/xsqg7.jpg"></a>
		</div>
	</div>
</div>

<div class="hotmen">
	<div class="title">
		<a href="#">红人穿搭</a>
		<a href="#">查看全部></a>
	</div>
	<div class="con">
		<div class="left">
			<a href="#"><img src=""><p></p></a>
			<a href="#"><img src=""><p></p></a>
			<a href="#"><img src=""><p></p></a>
			<a href="#"><img src=""><p></p></a>
			<a href="#"><img src=""><p></p></a>
		</div>
		<div class="right">
			<a href="#"><img src="img/hotmen/hotmen2/hotmens1.webp"><span>雪纺蓝人装</span></a>
			<a href="#"><img src="img/hotmen/hotmen2/hotmens2.webp"><span>雪纺蓝人装</span></a>
			<a href="#"><img src="img/hotmen/hotmen2/hotmens3.webp"><span>雪纺蓝人装</span></a>
			<a href="#"><img src="img/hotmen/hotmen2/hotmens4.webp"><span>雪纺蓝人装</span></a>
			<a href="#"><img src="img/hotmen/hotmen2/hotmens5.webp"><span>雪纺蓝人装</span></a>
			<a href="#"><img src="img/hotmen/hotmen2/hotmens6.webp"><span>雪纺蓝人装</span></a>
		</div>
	</div>
</div>

<div class="jxzt">
	<div class="title">
		<a href="#">精选专题</a>
		<p><span class="active">01</span><span>02</span></p>
	</div>
	<div class="show">
		<div class="lun">
			<a href="javascript:;" id="prev">＜</a>
			<a href="javascript:;" id="next">＞</a>
			<div class="lungo">
				<!-- 2 -->
				<div>
					<a href="#"><img src="img/jxzt/jxzt3.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>
				<div>
					<a href="#"><img src="img/jxzt/jxzt2.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>
				<div>
					<a href="#"><img src="img/jxzt/jxzt1.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>

				<!-- 1 -->
				<div>
					<a href="#"><img src="img/jxzt/jxzt1.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>
				<div>
					<a href="#"><img src="img/jxzt/jxzt2.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>
				<div>
					<a href="#"><img src="img/jxzt/jxzt1.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>

				<!-- 2 -->
				<div>
					<a href="#"><img src="img/jxzt/jxzt3.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>
				<div>
					<a href="#"><img src="img/jxzt/jxzt2.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>
				<div>
					<a href="#"><img src="img/jxzt/jxzt1.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>

				<!-- 1 -->
				<div>
					<a href="#"><img src="img/jxzt/jxzt1.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>
				<div>
					<a href="#"><img src="img/jxzt/jxzt2.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>
				<div>
					<a href="#"><img src="img/jxzt/jxzt1.jpg"></a>
					<div>
						<a href="#"><img src="img/jxzt/xjx1.jpg"><span>¥89.00</span></a>
						<a href="#"><img src="img/jxzt/xjx2.jpg"><span>¥99.00</span></a>
						<a href="#"><img src="img/jxzt/xjx3.jpg"><span>¥109.00</span></a>
						<a href="#"><img src="img/jxzt/xjx4.jpg"><span>¥69.00</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="lxys">
			<h3>流行元素</h3>
			<a href="#"><img src="img/lxys/lxys1.jpg"><span><nobr>大长腿系列惟妙惟肖</nobr></span></a>
			<a href="#"><img src="img/lxys/lxys2.jpg"><span><nobr>穿出去有面子</nobr></span></a>
			<a href="#"><img src="img/lxys/lxys3.jpg"><span><nobr>夏日特饮</nobr></span></a>
			<a href="#"><img src="img/lxys/lxys4.jpg"><span><nobr>凉白开只要998</nobr></span></a>
			<a href="#"><img src="img/lxys/lxys5.jpg"><span><nobr>大长腿系列惟妙惟肖</nobr></span></a>
			<a href="#"><img src="img/lxys/lxys2.jpg"><span><nobr>大长腿系列惟妙惟肖</nobr></span></a>
		</div>
	</div>
</div>	

<div id="lou"></div>
<script type="text/html" id="loutemp">
<% for(var i=0,len=list.length;i<len;i++) { 
	var now = list[i],
		title = now.title,
		left = now.left,
		center = now.center,
		right = now.right[0];
%>

<div class="pptm lou">
	<div class="title">
		<a href="#"><%= title[0] %></a><span>热门搜索：</span>
		<% for(var j=1;j<title.length;j++){ %>
			<% if(j==title.length-1){ %>
				<a href="#"><%= title[j] %></a>
			<% }else{ %>
				<a href="#"><%= title[j] %></a><span>|</span>
			<% } %>	
		<% } %>
		<p><a href="#">查看全部＞</a></p>
	</div>
	<div class="con">
		<div class="left" style="background-color:<%= left.bgc %>" >
			<div class="choice">
				<% for(var j=0;j<left.top.length;j++){ %>
					<a href="#"><%= left.top[j] %></a>
				<% } %>
			</div>
			<div class="ad">
				<a href="#">
					<h3><%= left.center[0] %></h3>
					<p><%= left.center[1] %></p>
					<img src=<%= left.img %> />
				</a>
			</div>
		</div>
		<div class="center">
			<% for(var j=0;j<center.length;j++){
				var now = center[j];
			 %>
				<div>
					<a href="#">
						<h3><%= now.title %></h3>
						<p><%= now.des %></p>
						<img src="<%= now.picurl %>" />
					</a>
				</div>
			<% } %>
		</div>
		<% if( right.No==1 ) { %>
			<!-- 第一类右 -->
			<div class="right1">
				<% for(var j=0;j<right.urls.length;j++){ %>
					<a href="#"><img src=<%= right.urls[j] %> /></a>
				<% } %>
			</div>	
		<% } %>

		<% if( right.No==2 ) { %>
			<!-- 第二类右 -->
			<div class="right2">
				<h3>大家都在买 <a href="#">换一波</a></h3>
				<a href="#">
					<img src= <%= right.url[0] %>  />
					<p class="des"><%= right.des %></p>
					<p class="price"><span class="now"><%= right.price[0] %></span><span class="old"><%= right.price[1] %></span></p>
				</a>
			</div>
		<% } %>
		
		<% if( right.No==3 ) { %>
			<!-- 第三类右 -->
			<div class="right3">
				<h3>大家都在买 <a href="#">换一波</a></h3>
				<div class="list">
					<% for(var j=0;j<right.list.length;j++) { 
						var now5 = right.list[j];
					%>
						<a href="#">
							<img class='fl' src= <%= now5.url %> />
							<div class="fl">
								<p><%= now5.des %></p>
								<p><span><%= now5.price %></span></p>
							</div>
						</a>
					<% } %>
				</div>
			</div>
		<% } %>
	</div>
</div>

<% } %>
</script>

<script type="text/html" id="bantuijian">
					<% for(var i=0,len=list.length;i<len;i++){
						var now = list[i],floa="fl";
						if(i % 2 != 0){floa = "fr"};
					 %>
						<a class= <%= floa %> href="#">
							<div class="top">
								<img src= <%= now.src %> />
								<div><nobr> <%= now.title %> </nobr></div>
							</div>
							<div class="price"><%= now.price %></div>
						</a>
					<% } %>
				</script>
<script type="text/javascript" src="lib/requirejs/require.js" data-main="js/index"></script>
</body>
</html>