<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>用户登录</title>
	<style type="text/css">
		*{margin: 0;padding: 0}
		#e{width: 100px;height: 100px;background-color: red;float: left;position: relative;}
	</style>
<script type="text/javascript" src="lib/arttemplate/template-native.js"></script>
<script type="text/javascript" src="lib/tweenmax/TweenMax.min.js"></script>
<script type="text/javascript" src="lib/jquery/jquery-1.12.4.min.js"></script>
</head>
<body style='height:2000px;position:relative;'>
<div id="e"></div>
<div class="f">1</div>
<div class="f">2</div>
<div class="f">3</div>
<input type='text' />
<div></div>
<div class='tx' style='position:absolute;top:1900px;'>35545465456</div>
<script type="text/html" id="test">
	<% var dat = list %>
		<p style="background:<%= dat[1] %>"><%= dat[0] %></p>
</script>
<script type="text/javascript">
	// require(['js/config'],function(){
	// 	require(['template',"jquery"],function(template,$){
	// 		var data={
	// 			list:["a","red"]
	// 		};
	// 		var html = template("test",data);
	// 		$('#e').append(html);
	// 	})
	// })	
	var data={
				list:["a","blue"]
			};
			var html = template("test",data);
			document.getElementById('e').innerHTML=html;
	setInterval(function(){
		var t = new TimelineMax();
		t.to($('#e')[0],1,{
			rotationY:90,
			onComplete:function(){
				console.log(this.target)//this.target获取到的是分情况，传入的是元素对象它就是元素对象，传入的选择器他就是包装选择器的对象，可以打印看
				// this.target[0].style.backgroundColor="green";
				document.getElementById('e').style.backgroundColor="yellow";
			}
		});
		t.to($('#e')[0],1,{
			rotationY:0
		})
	},3000)

console.log($('#e,.f'))

$('input').blur([1,2],function(e){
	console.log(e.data);
})
$(window).on('keydown',function(){
	// alert(0);
})
console.log($('div.tx').offset())
var i = 0;
$('input').on('key',function(){
	console.log(i += 1);
})
</script>
</body>
</html>