<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的购物车</title>
	<link rel="icon" href="https://s10.mogucdn.com/new1/v1/bmisc/3ce382db3c8aaca5d07bd36711e77134/171169993508.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/init.css">
	<link rel="stylesheet" type="text/css" href="/css/head&foot.css">
	<link rel="stylesheet" type="text/css" href="/css/cart.css">
</head>
<body>
<div class="header"></div>

<div class="content">
	<div class="wrap">
		<h3><a href="javascript:;">全部商品 <span>1</span></a></h3>
		<div class="getall">
			<label><input id="getall" type='checkbox' /> 全选</label>
			<div class="right">
				<span>商品信息</span>
				<span>单价（元）</span>
				<span>数量</span>
				<span>小计（元）</span>
				<span>操作</span>
			</div>
		</div>

		<div class="goods"></div>
		<script type="text/html" id="shangping">
			<% for(var i=0;i<list.length;i++){ 
				var now = list[i];
				var xiaoji = (now.count * now.price[0]).toFixed(2);
			%>

				<div class="good1">
					<input type='checkbox' />
					<div class="center">
						<img src= <%= now.img %> />
						<p><a href="#">  <%= now.des %> </a></p>
					</div>
					<div class="right">
						<span>颜色：<b>黑色</b><br>尺码：<b> <%= now.ruler %> </b></span>
						<span><b class='old'><%= now.price[1] %></b><br><b class='now'><%=now.price[0] %></b><br><b class='zhe'>7折</b></span>
						<span class='count'><a class='low' href="javascript:;"> - </a><input class='num' type='text' value= <%= now.count %> /><a class='add' href="javascript:;"> + </a></span>
						<span class='pri'><%= xiaoji %></span>
						<span class='delate'><a href="javascript:;">删除</a></span>
					</div>
				</div>

			<% } %>
		</script>

		<div class="compute">
			<div class="le">
				<input type='checkbox'><a href="#">全选</a><a href="#">删除</a><a href="#">清空所有商品</a><a href="#">移入收藏夹</a>
			</div>
			<p>共有	<span class='totalCount'>0</span>	件商品,总计 <span class='rmb'>¥</span><b class='totalMoney'>0.00</b><a class='qfk' href="/html/confirm.html">去付款 ＞ </a>	</p>
		</div>
	</div>
</div>

<div class="side">
	<a href="#"><img src="/img/iconimg/icon12.jpg">购物车</a>
	<a href="#"><img src="/img/iconimg/icon13.jpg">优惠卷</a>
	<a href="#"><img src="/img/iconimg/icon14.jpg">钱包</a>
	<a href="#"><img src="/img/iconimg/icon15.jpg">足迹</a>
	<a href="javascript:;" id='totop'>top</a>
</div>

<div class="footer"></div>
<script type="text/javascript" src='/lib/requirejs/require.js' data-main="/js/cart"></script>
</body>
</html>