<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>蘑菇街-我的买手街</title>
	<link rel="icon" href="https://s10.mogucdn.com/new1/v1/bmisc/3ce382db3c8aaca5d07bd36711e77134/171169993508.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/init.css">
	<link rel="stylesheet" type="text/css" href="/css/head&foot.css">
	<link rel="stylesheet" type="text/css" href="/css/details2.css">
</head>
<body style='height:2000px;'>
<div class="header"></div>

<div class="search">
	<div class="wrap">
		<a href="#">蘑菇街</a>
		<div class="center fl">
			<div class="top">
				<div class="top-l fl">
					<span class="searchgood">搜商品</span>
					<ul>
						<li><a href="#">商品</a></li>
						<li><a href="#">店铺</a></li>
					</ul>
				</div>
				<form class="fr">
					<input class='txt fl' type="text" placeholder="露背无袖连衣裙" />
					<input class='btn fl' type="submit" value="搜 索" />
					<div class="history">
						<h3>历史记录</h3>
					</div>
				</form>
			</div>
			<div class="bottom">
				<script type="text/html" id="search-hot">
					<% for(var i=0;i<list.length;i++) {
						var hotwho=list[i];
					 %>
					 	<% if(hotwho.hot) { %>
							<a href="#" class="hot"><%= hotwho.content %></a>
						<% }else{ %>
							<a href="#"><%= hotwho.content %></a>
						<% } %>
					<% } %>
				</script>
			</div>
		</div>
		<img src="/img/saoys.png" class="fr" />
	</div>
</div>

<div class="logo">
	<div class="wrap"><a href="#" title='蘑菇鸡'></a></div>
</div>

<div class="bigTitle">
	<div class="wrap">
		<a href="#">首页</a><span>|</span>
		<a class='all' href="#">全部商品 <img src="/img/details/icon1.jpg"></a><span>|</span>
		<a href="#">65元2件</a><span>|</span>
		<a href="#">关晓彤同款</a><span>|</span>
		<a href="#">2017/s/s</a><span>|</span>
		<a href="#">T恤</a><span>|</span>
		<a href="#">连衣裙</a>
		<ul class="more">
			<li><a href="#">＞ All</a></li>
			<li><a href="#">＞ 65元两件</a></li>
			<li><a href="#">＞ 关晓彤同款</a></li>
			<li><a href="#">＞ T恤</a></li>
			<li><a href="#">＞ dress连衣裙</a></li>
			<li><a href="#">＞ 卫衣</a></li>
			<li><a href="#">＞ 裤子</a></li>
		</ul>
	</div>
</div>

<div class="detail">
	<div class="wrap">
		<div class="right">
			<div class="pic">
				<img src="/img/details/details4.jpg">
			</div>
			<div class='list'>
				<ul>
					<li><img src="/img/details/detailsimg1.jpg"></li>
					<li><img src="/img/details/detailsimg2.jpg"></li>
					<li><img src="/img/details/detailsimg1.jpg"></li>
					<li><img src="/img/details/detailsimg2.jpg"></li>
					<li><img src="/img/details/detailsimg2.jpg"></li>
				</ul>
			</div>
		</div>

		<div class="rgt">
			<p class='title'>凡兔女装2017夏装新款韩版女式裤子交口开叉休闲九分裤</p>
			<div class="price">
				<p class='old'><b>价格:</b><span>¥155.80</span></p>
				<p class='now'><b>促销价:</b><span>¥55.80</span></p>
			</div>
			<div class='clr'>颜色：<img src="/img/details/icon2.jpg"></div>
			<div class="ruler">
				尺码：<a href="#">S</a><a href="#">M</a><a href="#">L</a><a href="#">XL</a>
			</div>
			<div class="count">
				数量：<div><a href="#">-</a><input type='text' value='1' /><a href="#">+</a></div> 库存<span>192</span>件
			</div>
			<div class="btn">
				<span>立即购买</span>
				<span>加入购物车</span>
			</div>
		</div>
	</div>
</div>

<div class="tab">
	<div class="wrap">
		<div class='choose'>
			<div class="title">
				<a href="javascript:;" class='active'>商品详情</a><a href="javascript:;">累计评价</a><a href="javascript:;">本店同类商品</a>
			</div>
			<div class="one show">
				<h3>商品描述</h3>
				<p>产品工艺：个性脚口开叉 时尚阔腿九分裤【别随大流，不要让时尚左右你，而是自己去决定自己是什么样的用自己的穿衣风格和生活方式来表达自己】</p>
				<h3>产品参数</h3>
				<table>
					<tr><td>图案: 纯色	</td><td>厚薄: 常规	</td><td>颜色: 黑色</td></tr>
					<tr><td>季节: 夏季	</td><td>材质: 其他	</td><td>裤型: 宽松</td></tr>
					<tr><td>裤长: 九分裤	</td><td>腰型: 自然腰	</td><td>风格: 街头</td></tr>
					<tr><td>尺码: S,XL,L,M	</td><td>闭合方式: 拉链	</td><td>潮流: 韩系</td></tr>
					<tr><td>品牌: ONE－T/凡兔</td></tr>
				</table>
			</div>
			<div class="two show">
				<h3>买家评价</h3>
				<p>还没有买家进行文字或晒图评价，等你来评价哦~</p>
			</div>
			<div class="three show">
				<h3>本店同类商品</h3>
				<div class='goods'>
					<a href="#">
						<img src="/img/details/spxq1.jpg">
						<p><nobr>凡兔女装2017新款上市</nobr></p>
						<p class="price"><span>¥99.05</span><span class="xx">111</span></p>
					</a>
					<a href="#">
						<img src="/img/details/spxq2.jpg">
						<p><nobr>凡兔女装2017新款上市</nobr></p>
						<p class="price"><span>¥99.05</span><span class="xx">111</span></p>
					</a>
					<a href="#">
						<img src="/img/details/spxq3.jpg">
						<p><nobr>凡兔女装2017新款上市</nobr></p>
						<p class="price"><span>¥99.05</span><span class="xx">111</span></p>
					</a>
					<a href="#">
						<img src="/img/details/spxq4.jpg">
						<p><nobr>凡兔女装2017新款上市</nobr></p>
						<p class="price"><span>¥99.05</span><span class="xx">111</span></p>
					</a>
					<a href="#">
						<img src="/img/details/spxq2.jpg">
						<p><nobr>凡兔女装2017新款上市</nobr></p>
						<p class="price"><span>¥99.05</span><span class="xx">111</span></p>
					</a>
					<a href="#">
						<img src="/img/details/spxq1.jpg">
						<p><nobr>凡兔女装2017新款上市</nobr></p>
						<p class="price"><span>¥99.05</span><span class="xx">111</span></p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="side">
	<a href="#"><img src="/img/iconimg/icon12.jpg">购物车</a>
	<a href="#"><img src="/img/iconimg/icon13.jpg">优惠卷</a>
	<a href="#"><img src="/img/iconimg/icon14.jpg">钱包</a>
	<a href="#"><img src="/img/iconimg/icon15.jpg">足迹</a>
	<a href="javascript:;" id='totop'>top</a>
</div>

<div class="footer"></div>
<script type="text/javascript" src='/lib/requirejs/require.js' data-main="/js/details2"></script>
</body>
</html>